<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Gestures</h1>
	</div>

  <div data-role="content">
    <ul data-role="listview">
<li>
    <a href="Gesture/lineargesture" title="">Linear Gesture</a>
</li>

<li>
<a href="Gesture/circulargesture" title="">Circular Gesture</a>
</li>

<li>
  <a href="Gesture/holdgesture" title="">Hold Gesture</a>
</li>

<li>
  <a href="Gesture/tiltgesture" title="">Tilt Gesture</a>
</li>

<li>
  <a href="Gesture/shakegesture" title="">Shake Gesture</a>
</li>



    </ul>
  </div>

</div>
