<div data-role="page">
<script type="text/javascript">

function funminimize(){
  $.get('/app/Gesture/FunMinimize', {});
   return false;  
}


function deletegesture()
 {
   $.get('/app/Gesture/deletegesture', 
     {});
   return false;
 }
  function shakeGesture(){
    
    var txtType = document.getElementById('txtType').value;
    var txtShakeID = document.getElementById('txtshakeID').value;
    var cmdPreset = document.getElementById('cmdPreset').value;
    var cmdDiagonstics = document.getElementById('cmdDiagonstics').value;
    var txtThreshold = document.getElementById('txtThreshold').value;
    var txtQuiet = document.getElementById('txtQuiet').value;
    var txtNumber = document.getElementById('txtNumber').value;   
    
  $.get('/app/Gesture/performShakeGesture', 
    { formType: txtType,
      formId: txtShakeID,
      formPreset: cmdPreset,
      formDiagnostics: cmdDiagonstics,
      formThreshold: txtThreshold,
      formQuiet: txtQuiet,
      formTotalNo: txtNumber 
    });
  return false;
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}
</script>
<div>
<div id="myResult">Event info</div> 
<form id="frmShakeGestures" >
<h2>Shake Gesture using Ruby Objects</h2>

<table>
    <tr>
        <td><a href="main"></a></td>
    </tr>
    
    <tr>
    <td>
    Preset   :- 
    </td>
    <td>
<select name="formPreset" id="cmdPreset">
<option value="NULL">NULL</option>
<option value="normal">normal</option>
<option value="Test">Invalid String("Test")</option>
<option value="">Empty String</option>
</select>
</td>
</tr>
<tr>
<td>
Diagonstics:- 
</td>
<td>
<select name="formDiagnostics" id="cmdDiagonstics">
<option value="TRUE">TRUE</option>
<option value="FALSE">FALSE</option>
<option value="TEST">Invalid String("Test")</option>
<option value="NULL">NULL</option>
<option value="">Empty String</option>
</select>

</td>
</tr>

<tr>
<td>
Input ID:- 
</td>
<td>
<input type=text name="formId" id="txtshakeID" value="MyShakeGesture" />
</td>
</tr>       
   

</table>


<table>


<tr>
<td>
Threshold:-
</td>
<td>
<input type=text name="formThreshold" id="txtThreshold" value="500" />
</td>
</tr>  
 
<tr>
<td>
Quiet:-
</td>
<td>
<input type=text name="formQuiet" id="txtQuiet" value="1000" />
</td>
</tr>   

<tr>
<td>Type:- 
</td>
<td>
<input type=text name="formType" id="txtType" value="Shake" />
</td>
</tr> 

<tr>
<td>Number Of Gestures:- 
</td>
<td>
<input type=text name="formTotalNo" id="txtNumber" value="1" />
</td>
</tr> 


<tr>
<td>
<input type="button" onclick="setNull();" value="setNull">
</td>
</tr>

  
</table>
<hr>
<input type="button" value="Shake Gesture" onclick ="shakeGesture()"><br />
<input type="button" onclick="deletegesture();" value="DeleteGesture">

<br>
<INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
<br/>

</form>
</div>
<script>
function setNull()
{
frmShakeGestures.formId.value="NULL";
frmShakeGestures.formThreshold.value="NULL";
frmShakeGestures.formQuiet.value="NULL";
}
</script>
</div>
