<div data-role="page">
<script type="text/javascript">

function funminimize(){
  $.get('/app/Gesture/FunMinimize', {});
   return false;  
}

  function deletegesture()
 {
   $.get('/app/Gesture/deletegesture', 
     {});
   return false;
 }
  function tiltGesture(){
  
  var txtTiltID = document.getElementById('txttiltID').value;
  var cmdPreset = document.getElementById('cmdPreset').value;
  var cmdDiagonstics = document.getElementById('cmdDiagonstics').value;
  var TargetX = document.getElementById('txtTargetX').value;
  var TargetY = document.getElementById('txtTargetY').value;
  var TargetZ = document.getElementById('txtTargetZ').value;
  var txtTiltTolerance = document.getElementById('txtTiltTolerance').value;
  var txtHysteresis = document.getElementById('txtHysteresis').value;
  var txtType = document.getElementById('txtType').value;
  var txtNumber = document.getElementById('txtNumber').value;

  $.get('/app/Gesture/performTiltGesture', { 
    formType: txtType,
    formId: txtTiltID,
    formPreset: cmdPreset,
    formDiagnostics: cmdDiagonstics,
    formTargetX: TargetX,
    formTargetY: TargetY,
    formTargetZ: TargetZ,
    formTiltTolerance: txtTiltTolerance,
    formHysteresis: txtHysteresis,
    formTotalNo: txtNumber
    });
  return false;
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}
</script>

<div id="myResult">Event info</div> 
<form id="frmTiltGestures">
<h2>Tilt Gesture using Ruby Objects</h2>

<table>
    <tr>
        <td><a href="main"></a></td>
    </tr>
    
    <tr>
    <td>
    Preset   :- 
    </td>
    <td>
<select name="formPreset" id="cmdPreset">
<option value="NULL">NULL</option>
<option value="face-up">face-up</option>
<option value="upright">upright</option>
<option value="Test">Invalid String("Test")</option>
<option value="">Empty String</option>
</select>
</td>
</tr>
<tr>
<td>
Diagonstics:- 
</td>
<td>
<select name="formDiagnostics" id="cmdDiagonstics">
<option value="TRUE">TRUE</option>
<option value="FALSE">FALSE</option>
<option value="TEST">Invalid String("Test")</option>
<option value="NULL">NULL</option>
<option value="">Empty String</option>
</select>

</td>
</tr>

<tr>
<td>
Input ID:- 
</td>
<td>
<input type=text name="formId" id="txttiltID" value="MyTiltGesture" />
</td>
</tr>       
</table>



<table>


<tr>
<td>
Target-X:-
</td>
<td>
<input type=text name="formTargetX" id="txtTargetX" value="0" />
</td>
</tr>  
 
<tr>
<td>
Target-Y:-
</td>
<td>
<input type=text name="formTargetY" id="txtTargetY" value="0" />
</td>
</tr>   

<tr>
<td>
Target-Z:-
</td>
<td>
<input type=text name="formTargetZ" id="txtTargetZ" value="90" />
</td>
</tr>  
<tr>
<td>
TiltTolerance:-
</td>
<td>
<input type=text name="formTiltTolerance" id="txtTiltTolerance" value="10" />
</td>
</tr>  

<tr>
<td>
Hysteresis:-
</td>
<td>
<input type=text name="formHysteresis" id="txtHysteresis" value="10" />
</td>
</tr>  

<tr>
<td>Type:- 
</td>
<td>
<input type=text name="formType" id="txtType" value="Tilt" />
</td>
</tr> 


<tr>
<td>Number Of Gestures:- 
</td>
<td>
<input type=text name="formTotalNo" id="txtNumber" value="1" />
</td>
</tr> 



<tr>
<td>
<input type="button" onclick="setNull();" value="setNull">
</td>
</tr>


  
</table>

<input type="button" value="Create Gesture" onclick="tiltGesture()"><br />
<input type="button" onclick="deletegesture();" value="DeleteGesture">

<br>
<INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
<br/>

</form>
</div>
<script>
function setNull()
{
  frmTiltGestures.formId.value="NULL";
  frmTiltGestures.formTargetX.value="NULL";
  frmTiltGestures.formTargetY.value="NULL";
  frmTiltGestures.formTargetZ.value="NULL";
  frmTiltGestures.formTiltTolerance.value="NULL";
  frmTiltGestures.formHysteresis.value="NULL";
}
</script>
