<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function funminimize(){
  $.get('/app/SignalModule/FunMinimize', {});
   return false;  
}

function selectVisibility()
{
  var sigVisibility=document.getElementById("sigVisibility").value;
  $.get('/app/SignalModule/selectVisibility', { sigVisibility:  sigVisibility});
  return false;
}

function applysignalEvent()
{
  var signalEvent=document.getElementById("signalEvent").value;
  $.get('/app/SignalModule/applysignalEvent', { signalEvent:  signalEvent});
  return false;
  
}


function setLeftPosition()
{
   var leftPosition=document.getElementById("leftPosition").value;
   $.get('/app/SignalModule/setLeftPosition', { leftPosition:  leftPosition});
   return false; 
  
}

function setTopPosition()
{
   var topPosition=document.getElementById("topPosition").value;
   $.get('/app/SignalModule/setTopPosition', { topPosition:  topPosition});
   return false; 
  
}


function setColor()
{
   var colorVal=document.getElementById("colorVal").value;
   $.get('/app/SignalModule/setColor', { colorVal:  colorVal});
   return false; 
  
}

function setLayout()
{
   var layoutList=document.getElementById("layoutList").value;
   $.get('/app/SignalModule/setLayout', { layoutList:  layoutList});
   return false; 
  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>

<body>
<p>SignalTest</p>
<br /><br /><br /><br /><br /><br /><br />
<div id="myResult">Event info</div> 
<form name="myfrm" action="">

         <label for="sigVisibility">Select Visibility</label>
          <select name="sigVisibility" id="sigVisibility" onchange="selectVisibility();">
              <OPTION SELECTED VALUE="">Select</OPTION>
              <option value="Visible">Visible</option>
              <option value="Hidden">Hidden</option>
              <option value="Address">Address</option>
          </select>
<br />
  

           <label for="signalEvent">signalEvent:</label>
            <select name="signalEvent" id="signalEvent">
                <OPTION SELECTED VALUE="">Select</OPTION>
                <option value="JAVASCRIPT">JAVASCRIPT</option>
                <option value="JSON">JSON</option>
                <option value="HTML">HTML</option>
                <option value="DETACHEVENT">DETACHEVENT</option>
                <option value="EMPTYEVENT">EMPTYEVENT</option>
            </select>
       <INPUT type="button" value="ApplyEvent" name="ApplyEvent" onClick="applysignalEvent();">      
  <br />
  
  
  <label for="leftPosition" class="fieldLabel">Left:</label>
  <input type="text" name="leftPosition" id="leftPosition" value="150" class="itemValue" <%= placeholder("Left:") %> />       
  <INPUT type="button" value="Left" name="Left" onClick="setLeftPosition();">  
    <br />
  
  <label for="topPosition" class="fieldLabel">Top:</label>
  <input type="text" name="topPosition" id="topPosition" value="50" class="itemValue" <%= placeholder("Top:") %> />       
    <INPUT type="button" value="Top" name="Top" onClick="setTopPosition();">  

    <br />
    <label for="colorVal" class="fieldLabel">Color:</label>
    <input type="text" name="colorVal" id="colorVal" value="#FF00AA" class="itemValue" <%= placeholder("Color:") %> />       
    <INPUT type="button" value="Color" name="Color" onClick="setColor();">  
      <br />

               <label for="layoutList">Layout:</label>
                <select name="layoutList" id="layoutList">
                    <OPTION SELECTED VALUE="">Select</OPTION>
                    <option value="Left">Left</option>
                    <option value="Up">Up</option>
                    <option value="Right">Right</option>
                    <option value="Down">Down</option>
                    <option value="Invalid">Invalid</option>
                </select>
      <INPUT type="button" value="set_Layout" name="set_Layout" onClick="setLayout();">        
      <br />
      
      <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
      <br/>

</form>
</body>
</html>
