<html>
<head>
<h1>Memory</h1>
<script type="text/javascript">

function funminimize(){
  $.get('/app/MemoryModule/FunMinimize', {});
   return false;  
}

function callgetMemoryStats()
{
  alert("callgetMemoryStats");
  $.get('/app/MemoryModule/callgetMemoryStats', { });
  return false;   
}

function registermemoryEvent() 
{
  alert("registermemoryEvent");
  document.getElementById("myResult").innerHTML="";
  var selectmemoryEvent=document.getElementById("selectmemoryEvent").value;
  $.get('/app/MemoryModule/registermemoryEvent', { selectmemoryEvent:  selectmemoryEvent});
  return false;
}

function setLowMemThreshold()
{
   var txtlowMemThreshold=document.getElementById("txtlowMemThreshold").value;
   $.get('/app/MemoryModule/setlowMemThreshold', { txtlowMemThreshold:  txtlowMemThreshold});
   return false;  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>
<body>
<p>MemoryTest</p>
<br /><br />
<div id="myResult">Memory info</div> 
<br /><br />
<form name="myfrm" action="">
<label for="selectmemoryEvent">AttachEvent</label>
 <select name="selectmemoryEvent" id="selectmemoryEvent">
 <option value="JavaScript">JavaScript</option>
 <option value="DETACHEVENT">DETACHEVENT</option>
 <option value="EMPTYEVENT">EMPTYEVENT</option>
 </select>
<br />
<INPUT type="button" value="registermemoryEvent" name="registerMemoryEvent" onclick="registermemoryEvent();" /> 
<hr/>

<INPUT type="button" value="getMemoryStats" name="getMemoryStats" onClick="callgetMemoryStats();"> 
<hr/>

<label for="txtlowMemThreshold" class="itemLabel">lowMemThreshold</label>
<input type="text" id="txtlowMemThreshold" name="txtlowMemThreshold" class="itemValue"  />  
<INPUT type="button" value="setlowMemThreshold" name="setlowMemThreshold" onClick="setLowMemThreshold();">  
<hr />
  
  <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
  <br/>
 
</form>
</body>
</html>
