<?xml version = "1.0"?>
<!-- RhoElements Configuration file -->
<Configuration>

	<DebugButtons>
		<DebugButtonsEnabled value="1" />
	</DebugButtons>

	<Logger>
	    <LogProtocol  value="FILE"/>
	    <LogPort      value="80"/>
	    <LogURI       value="file://%INSTALLDIR%/log.txt"/>
	    <LogError     value="1"/>
	    <LogWarning   value="1"/>
	    <LogInfo      value="1"/>
	    <LogUser      value="1"/>
	    <LogMemory    value="1"/>
	    <LogMemPeriod value="5000"/>
	    <LogMaxSize   value="10"/>
	</Logger>

	<FileLocations>
		<RegEXFile 	value="file://%INSTALLDIR%/RegEx.xml" />
	</FileLocations>
	
	<Screen>
		<FullScreen	value="0" />
	</Screen>
	
	<DeviceKeys>
		<EnableFunctionKey_F1     value="0"/>
		<EnableFunctionKey_F2     value="0"/>
		<EnableFunctionKey_F3     value="0"/>
  	</DeviceKeys>

	<Navigation>
		<NavTimeout value="45000"/>
	</Navigation>
	
	<Geolocation>
		<GeolocationEnabled value="1"/>
	</Geolocation>

	<Applications>
		<Application>
		
			<General>
				<StartPage value="http://192.168.43.50:8444/Scroll/scroller.jsp" name="Menu" />
			</General>
			
			<HTTP_Proxy value="" />
			<HTTPS_Proxy value="" />
			
			<WebDB>
				<WebStorageDBPath value="file://%INSTALLDIR%"/>
				<WebSQLDBQuota value="5000000"/>
				<WebSQLDBPath value="file://%INSTALLDIR%"/>
			</WebDB>
			
			<ApplicationCache>
				<ApplicationCachePath value="file://%INSTALLDIR%"/>
				<ApplicationCacheQuota value="5000000"/>
			</ApplicationCache>
			
		 <NPAPI>
                <NPAPIDirectory value="file://%INSTALLDIR%\NPAPI\"/>
                <Preloads>
                    <PreloadLegacyGeneric value="0"/>
                    <PreloadLegacyODAX    value="0"/>
                    <PreloadLegacyNoSIP   value="0"/>
                    <PreloadLegacyAirBeam value="0"/>
                    <PreloadLegacyAPD     value="0"/>
                    <PreloadJSObjects     value="1"/>
                </Preloads>
            </NPAPI>


			<HTMLStyles>
				<TextSelectionEnabled  value="0" />
				<FontFamily            value="Droid Sans Fallback" />
			</HTMLStyles>
			
			<GUI>
				<SignalRefresh		value="5000" />
				<HourglassEnabled	value="1" />
				<HourglassLeft 		value="" />
				<HourglassTop		value="" />
			</GUI>
						
			<Navigation>
				<BadLinkURI	value="file://%INSTALLDIR%/badlink.html" />
				<UserAgent  value="Mozilla/5.0 (%p) AppleWebKit/%w (KHTML, like Gecko) MotorolaWebKit/%e Safari/%w" />
				<CaFile value="file://%INSTALLDIR%/stellaw.pem" />
				<VerifyPeerCertificate value="0" />
				   <ViewportEnabled          VALUE="1"/>
			</Navigation>
			
		</Application>
	</Applications>
</Configuration>