<link rel="stylesheet" href="/public/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.css" />
<script src="/public/jquery.mobile-1.3.1/jquery-1.9.1.min.js"></script>
<script src="/public/jquery.mobile-1.3.1/jquery.mobile-1.3.1.min.js"></script>
<script type="text/javascript">

  var displayAlert = function (one,two){
    alert(one+" "+two);
  }
  
  var displayAlertone = function (){
    alert("Nothing Has Passed in Argument");
  }

</script>
<div>
<fieldset>
  <legend>Rho::WebView.executeJavascript</legend>
  <ul>
  <li>Call executeJavascript with no tabindex and function having 2 params</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executeJS_zero');">VT281-037</a></li>
  <li>Call executeJavascript with tabindex as 1</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executeJS_one');">VT281-038</a></li>
  <li>Call executeJavascript with tabindex as -1</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executeJS_minusone');">VT281-039</a></li>
  <li>Call executeJavascript with function having no params</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executeJS');">VT281-039</a></li>
  <li>Perform Javascript Operation Inside Controller</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executejs_code');">VT281-039</a></li>
  <li>Perform AJAX Operation Inside Controller</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executejs_ajax');">VT281-039</a></li>
  <li>Call Jquery Mobile Popup</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executejs_jqmobile');">VT281-039</a></li>
  <li>Call Jquery Mobile Listview</li>
  <li><a href="javascript:void(0)" onclick ="$.get('/app/ModelWebview/executejs_listview');">VT281-039</a></li>
  <li><div id="executeJavascript"></div></li>
  </ul>
  <div data-role="popup" id="popupBasic">
      <p>This is a completely basic popup, no options set.</p>
  </div>
  <div data-role="popup" id="popupMenu" data-theme="d">
    <ul data-role="listview" data-inset="true" style="min-width:210px;" data-theme="d">
        <li data-role="divider" data-theme="e">Choose an action</li>
        <li><a href="#">View details</a></li>
        <li><a href="#">Edit</a></li>
        <li><a href="#">Disable</a></li>
        <li><a href="#">Delete</a></li>
    </ul>
  </div>
</fieldset>
</div>