<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function funminimize(){
  $.get('/app/NotificationModule/FunMinimize', {});
   return false;  
}

function SetNotifyEvent() {
  document.getElementById("myResult").innerHTML="";
  var notifyEvent=document.getElementById("noteventdropdown").value;
  $.get('/app/NotificationModule/SetNotifyEvent', { notifyEvent:  notifyEvent});
  return false;
}

function Enumerateobjects() {
  $.get('/app/NotificationModule/Enumerateobjects', { });
    return false;
}

function setState() {
  var txtNotifyIndex=document.getElementById("txtNotifyIndex").value;
  var statedropdown=document.getElementById("statedropdown").value;
  $.get('/app/NotificationModule/setState', { txtNotifyIndex: txtNotifyIndex,statedropdown: statedropdown});
  return false;
}


function setLEDONDuration() {
  var txtLEDOnDuration=document.getElementById("txtLEDOnDuration").value;
  $.get('/app/NotificationModule/setLEDONDuration', { txtLEDOnDuration: txtLEDOnDuration});
  return false;
}

function setLEDOFFDuration() {
  var txtLEDOffDuration=document.getElementById("txtLEDOffDuration").value;
  $.get('/app/NotificationModule/setLEDOFFDuration', { txtLEDOffDuration: txtLEDOffDuration});
  return false;
}

function setLEDCycles() {
  var txtLEDNumberOfCycles=document.getElementById("txtLEDNumberOfCycles").value;
  $.get('/app/NotificationModule/setLEDCycles', { txtLEDNumberOfCycles: txtLEDNumberOfCycles});
  return false;
}

function setBeeperFrequency() {
  var txtBeeperFrequency=document.getElementById("txtBeeperFrequency").value;
  $.get('/app/NotificationModule/setBeeperFrequency', { txtBeeperFrequency: txtBeeperFrequency});
  return false;
}

function setBeeperVolume() {
  var txtBeeperVolume=document.getElementById("txtBeeperVolume").value;
  $.get('/app/NotificationModule/setBeeperVolume', { txtBeeperVolume: txtBeeperVolume});
  return false;
}

function setBeeperDuration() {
  var txtBeeperDuration=document.getElementById("txtBeeperDuration").value;
  $.get('/app/NotificationModule/setBeeperDuration', { txtBeeperDuration: txtBeeperDuration});
  return false;
}


function setVibrateDuration() {
  var txtVibrateDuration=document.getElementById("txtVibrateDuration").value;
  $.get('/app/NotificationModule/setVibrateDuration', { txtVibrateDuration: txtVibrateDuration});
  return false;
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>

<body>
<p>Network Test</p>
<br /><br /><br /><br /><br /><br />
<div id="myResult">Event info</div> 
    <form name="myfrm" action="">
Select Notification Event:<br /><select name="noteventdropdown" id="noteventdropdown">
<option SELECTED value="">Select</option>
<option value="JSCRIPT">AttachEvent</option>
<option value="DETACH">DetachEvent</option>
<option value="setEMML">setEMML</option>
</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="button" onclick="SetNotifyEvent();" value="SetNotifyEvent">
<br /><br />
<input type="button" onclick="Enumerateobjects();" value="Enumerate">
<hr />

<hr />
LED<br>
<tr>
  SetLEDOnDuration  <Textarea id="txtLEDOnDuration"cols="5" rows="1">2000</Textarea>
 <INPUT type="button" value="Set" name="SetLEDDuration" onClick="setLEDONDuration();"> 
  </tr><br>
<tr>
  SetLEDOffDuration <Textarea id="txtLEDOffDuration"cols="5" rows="1">1000</Textarea>
<INPUT type="button" value="Set" name="SetLEDOFFDuration" onClick="setLEDOFFDuration();"> 
  </tr><br>
<tr>
SetLEDNumberOfCycles  <Textarea id="txtLEDNumberOfCycles"cols="5" rows="1">5</Textarea>
<INPUT type="button" value="Set" name="SetLEDCycles" onClick="setLEDCycles();"> 
  </tr><br>

<hr><br>

<hr>
Beeper<br>
<tr>
  SetBeeperFrequency  <Textarea id="txtBeeperFrequency"cols="5" rows="1">3500</Textarea>
 <INPUT type="button" value="Set" name="SetBeeperFrequency" onClick="setBeeperFrequency();"> 
  </tr><br>
<tr>
  SetBeeperVolume   <Textarea id="txtBeeperVolume"cols="5" rows="1">3</Textarea>
<INPUT type="button" value="Set" name="SetBeeperVolume" onClick="setBeeperVolume();"> 
  </tr><br>
<tr>
SetBeeperDuration <Textarea id="txtBeeperDuration"cols="5" rows="1">4000</Textarea>
<INPUT type="button" value="Set" name="SetBeeperDuration" onClick="setBeeperDuration();">   
 </tr><br>

<hr><br>

<hr>
Vibrator<br>
<tr>
  SetVibrateDuration  <Textarea id="txtVibrateDuration"cols="5" rows="1">5000</Textarea>
 <INPUT type="button" value="Set" name="SetVibrateDuration" onClick="setVibrateDuration();">   
  </tr><br>
<hr><br>

<hr>
SetIndex<select name="txtNotifyIndex" id="txtNotifyIndex">
<OPTION SELECTED VALUE="">SelectNotifyIndex</OPTION>
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
</select>
<br/>
State Value <select name="statedropdown" id="statedropdown">
<OPTION SELECTED VALUE="">Select</OPTION>
<option value="On">On</option>
<option value="Off">Off</option>
<option value="Cycle">Cycle</option>
</select>
<br/>
<INPUT type="button" value="SetState" name="SetState" onClick="setState();">  
<hr>

<INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
<br/>

</form>
</body>
</html>