<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function SetReg()
{
  $.get('/app/Config/SetRegistry', { });
  return false; 
  
}


</script>
</head>

<body>
<p>Registry</p>
<br><br><br>
<INPUT type="button" value="setregi" name="setregis" onClick="SetReg();">

</body>
</html>