<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

<div data-role="content">
    <ul data-role="listview">
      <li><a href="Auto?erb=imager">Imager</a></li>
      <li><a href="Auto?erb=signature">Signature Capture</a></li>
      <li><a href="Auto?erb=filetransfer">File Transfer</a></li>
      <li><a href="Auto?erb=indicator">Indicator Module</a></li>
      <li><a href="Auto?erb=deviceandapp">Device And Application Module</a></li>
      <li><a href="Auto?erb=gesture">Gesture Module</a></li>
      <li><a href="Auto?erb=keycapture">KeyCapture Module</a></li>
      
      <li><a href="Auto?erb=scanner">Scanner (Common API)</a></li>
      <li><a href="Auto?erb=system">System (Common API)</a></li>
      
      
      <li><a href="Auto?erb=scannerdecoder&module=decoderdirect">Decoder Test By setting Directly</a></li>
      <li><a href="Auto?erb=scannerdecoder&module=decodersetproperty">Decoder Test By using setProperty</a></li>
      <li><a href="Auto?erb=scannerdecoder&module=decodersetproperties">Decoder Test By using setProperties</a></li>
      <li><a href="Auto?erb=scannerdecoder&module=decoderenable">Decoder Test By passing with enable</a></li>
      
      <li><a href="Auto?erb=scanner&module=decoderdirect">Decoder Test By setting Directly</a></li>
      <li><a href="Auto?erb=scanner&module=decodersetproperty">Decoder Test By using setProperty</a></li>
      <li><a href="Auto?erb=scanner&module=decodersetproperties">Decoder Test By using setProperties</a></li>
      <li><a href="Auto?erb=scanner&module=decoderenable">Decoder Test By passing with enable</a></li>


      <li><a href="Auto?module=index">Test Module</a></li>
    </ul>
  </div>
</div>
