.DS_Store
*/bin/
*/*/*/bin/
*/*/*/*/*/*/*/*/generated/
*/*/*/*/*/*/*/generated/
rhosimulator/
.idea
/*/feature_def/*/extensions/*/ext/platform/iphone/build/
/*/feature_def/*/extensions/*/ext/platform/iphone/impl/readme.txt
rholog.txt
rhoapi-modules.js
server_url.js