.DS_Store
*/*/*/bin/
*/*/*/*/*/*/*/*/generated/
*/*/*/*/*/*/*/generated/
rhosimulator/
.idea
/*/feature_def/*/extensions/*/ext/platform/iphone/build/
/*/feature_def/*/extensions/*/ext/platform/iphone/impl/readme.txt
rholog.txt
