.DS_Store
*/bin/
*/*/*/bin/
*/*/*/*/*/*/*/*/generated/
*/*/*/*/*/*/*/generated/
*/*/*/*/*/generated/
*/*/*/*/generated/

rhosimulator/
.idea
/*/*/*/extensions/*/ext/platform/iphone/build/
/*/*/*/extensions/*/ext/platform/iphone/impl/readme.txt
/*/*/*/extensions/*/ext/platform/iphone/*.xcodeproj/xcuserdata/
/*/*/*/project/iphone/
/*/*/*/junitrep
*.iseq
rholog.txt
rhoapi-modules.js
server_url.js
TODO
*.bak
*.changes
#*.xml
*.sh
sim-public*
RhoLogSpec.txt
**/app/local_server.rb
**/app/local_server.js
**/rholog-*.txt
**/faillog.txt
**/public/api/
server_spec_reporter/logs

