<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>TestTests</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
	</div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="/app/TestTest/testdate">Test</a></li>
      <li><a href="/app/TestTest/testBarcode">Test</a></li>
    </ul>
  </div>

</div>
