<div data-role="page">

  <div data-role="content">
    <ul data-role="listview">
      <li><a href = "#" onclick ="$.get('/app/Testcode/testifelse');">Call Eval</a></li>
      <li><a href = "/app/Testcode/setgo">Test</a></li>
    </ul>
  </div>

</div>
