<script language="JavaScript">
  window.location.href = "SpecRunner.htm";
</script>
<script type="text/javascript" charset="utf-8" src="../../public/js/application.js"></script>
<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Sensors Test</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>
  <div id='output'>Output goes here</div>  
  <div data-role="content">
    <ul data-role="listview">
        <%= link_to 'Run Test', { :action => :run_test }%>
    <a href="javascript:Test()">Run Test JS</a>    
    <a href="SpecRunner.htm">SpecRunner</a>
  </ul>
  </div>

</div>