<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function funminimize(){
  $.get('/app/RSM/FunMinimize', {});
   return false;  
}

function registerdecodeevent() {
  document.getElementById("myResult").innerHTML="";
  var selectdecodeevent=document.getElementById("selectdecodeevent").value;
  $.get('/app/RSM/registerdecodeevent', { selectdecodeevent:  selectdecodeevent});
  return false;
}

function registerenumevent()
{
   document.getElementById("myResult").innerHTML="";
   var selectevent=document.getElementById("selectevent").value;
   $.get('/app/RSM/registerenumevent', { selectevent:  selectevent});
   return false;  
}

function enumeratescanner()
{
  $.get('/app/RSM/enumeratescanner', { });
  return false;   
}

function enablescanner()
{
  $.get('/app/RSM/enablescanner', { });
  return false; 
  
}

function enablescanner2()
{
  $.get('/app/RSM/enablescanner2', { });
  return false; 
  
}

function enablescanner3()
{
  $.get('/app/RSM/enablescanner3', { });
  return false; 
  
}

function disablescanner()
{
  $.get('/app/RSM/disablescanner', { });
  return false; 
  
}

function startscanner()
{
  $.get('/app/RSM/startscanner', { });
  return false;   
}


function stopscanner()
{
  $.get('/app/RSM/stopscanner', { });
  return false; 
  
}

function enableselectedscanner()
{
   document.getElementById("myResult").innerHTML="";
   var selectscanner=document.getElementById("selectscanner").value;
   $.get('/app/RSM/enableselectedscanner', { selectscanner:  selectscanner});
   return false;  
}

function Unpair()
{
  $.get('/app/RSM/Unpair', { });
  return false; 
  
}

function Disconnect()
{
  $.get('/app/RSM/Disconnect', { });
  return false; 
  
}

function registerrsmevent()
{
  $.get('/app/RSM/registerrsmevent', { });
  return false;
}


function registerrsmevent1()
{
  var chkmarkForRetrievalModelNumber=document.getElementById("chkmarkForRetrievalModelNumber").checked;
  var chkmarkForRetrievalSerialNumber=document.getElementById("chkmarkForRetrievalSerialNumber").checked;
  var chkmarkForRetrievalDateOfManufacture=document.getElementById("chkmarkForRetrievalDateOfManufacture").checked;
  var chkmarkForRetrievalDateOfService=document.getElementById("chkmarkForRetrievalDateOfService").checked;
  var chkmarkForRetrievalBluetoothAddress=document.getElementById("chkmarkForRetrievalBluetoothAddress").checked;
  var chkmarkForRetrievalFirmwareVersion=document.getElementById("chkmarkForRetrievalFirmwareVersion").checked;
  var chkmarkForRetrievalDeviceClass=document.getElementById("chkmarkForRetrievalDeviceClass").checked;
  var chkmarkForRetrievalBatteryStatus=document.getElementById("chkmarkForRetrievalBatteryStatus").checked;
  var chkmarkForRetrievalBatteryCapacity=document.getElementById("chkmarkForRetrievalBatteryCapacity").checked;
  var chkmarkForRetrievalBatteryId=document.getElementById("chkmarkForRetrievalBatteryId").checked;
  var chkmarkForRetrievalBluetoothAuthentication=document.getElementById("chkmarkForRetrievalBluetoothAuthentication").checked;
  var chkmarkForRetrievalBluetoothEncryption=document.getElementById("chkmarkForRetrievalBluetoothEncryption").checked;
  var chkmarkForRetrievalBluetoothPinCode=document.getElementById("chkmarkForRetrievalBluetoothPinCode").checked;
  var chkmarkForRetrievalBluetoothPinCodeType=document.getElementById("chkmarkForRetrievalBluetoothPinCodeType").checked;
  var chkmarkForRetrievalBluetoothReconnectAttempts=document.getElementById("chkmarkForRetrievalBluetoothReconnectAttempts").checked;
  var chkmarkForRetrievalBluetoothBeepOnReconnectAttempt=document.getElementById("chkmarkForRetrievalBluetoothBeepOnReconnectAttempt").checked;
  var chkmarkForRetrievalBluetoothHidAutoReconnect=document.getElementById("chkmarkForRetrievalBluetoothHidAutoReconnect").checked;
  var chkmarkForRetrievalBluetoothFriendlyName=document.getElementById("chkmarkForRetrievalBluetoothFriendlyName").checked;
  var chkmarkForRetrievalBluetoothInquiryMode=document.getElementById("chkmarkForRetrievalBluetoothInquiryMode").checked;
  var chkmarkForRetrievalBluetoothAutoReconnect=document.getElementById("chkmarkForRetrievalBluetoothAutoReconnect").checked;
  var chkmarkForRetrievalForceSavePairingBarcode=document.getElementById("chkmarkForRetrievalForceSavePairingBarcode").checked;
  var chkmarkForRetrievalLowBatteryIndication=document.getElementById("chkmarkForRetrievalLowBatteryIndication").checked;
  var chkmarkForRetrievalLowBatteryIndicationCycle=document.getElementById("chkmarkForRetrievalLowBatteryIndicationCycle").checked;
  var chkmarkForRetrievalScanLineWidth=document.getElementById("chkmarkForRetrievalScanLineWidth").checked;
  var chkmarkForRetrievalGoodScansDelay=document.getElementById("chkmarkForRetrievalGoodScansDelay").checked;
  var chkmarkForRetrievalDecodeFeedback=document.getElementById("chkmarkForRetrievalDecodeFeedback").checked;
  var chkmarkForRetrievalIgnoreCode128Usps=document.getElementById("chkmarkForRetrievalIgnoreCode128Usps").checked;
  var chkmarkForRetrievalScanTriggerWakeup=document.getElementById("chkmarkForRetrievalScanTriggerWakeup").checked;
  var chkmarkForRetrievalMems=document.getElementById("chkmarkForRetrievalMems").checked;
  var chkmarkForRetrievalProximityEnable=document.getElementById("chkmarkForRetrievalProximityEnable").checked;
  var chkmarkForRetrievalProximityContinuous=document.getElementById("chkmarkForRetrievalProximityContinuous").checked;
  var chkmarkForRetrievalProximityDistance=document.getElementById("chkmarkForRetrievalProximityDistance").checked;
  var chkmarkForRetrievalPagingEnable=document.getElementById("chkmarkForRetrievalPagingEnable").checked;
  var chkmarkForRetrievalPagingBeepSequence=document.getElementById("chkmarkForRetrievalPagingBeepSequence").checked;
  
  
  
    
    $.get('/app/RSM/registerrsmevent', {chkmarkForRetrievalModelNumber : chkmarkForRetrievalModelNumber, 
      chkmarkForRetrievalSerialNumber: chkmarkForRetrievalSerialNumber,
      chkmarkForRetrievalDateOfManufacture: chkmarkForRetrievalDateOfManufacture,
      chkmarkForRetrievalDateOfService: chkmarkForRetrievalDateOfService,
      chkmarkForRetrievalBluetoothAddress: chkmarkForRetrievalBluetoothAddress,
          chkmarkForRetrievalFirmwareVersion: chkmarkForRetrievalFirmwareVersion,
      chkmarkForRetrievalDeviceClass: chkmarkForRetrievalDeviceClass,
      chkmarkForRetrievalBatteryStatus: chkmarkForRetrievalBatteryStatus,
      chkmarkForRetrievalBatteryCapacity: chkmarkForRetrievalBatteryCapacity,
      chkmarkForRetrievalBatteryId: chkmarkForRetrievalBatteryId,
      chkmarkForRetrievalBluetoothAuthentication: chkmarkForRetrievalBluetoothAuthentication,
      chkmarkForRetrievalBluetoothEncryption: chkmarkForRetrievalBluetoothEncryption,
          chkmarkForRetrievalBluetoothPinCode: chkmarkForRetrievalBluetoothPinCode,
      chkmarkForRetrievalBluetoothPinCodeType: chkmarkForRetrievalBluetoothPinCodeType,
          chkmarkForRetrievalBluetoothReconnectAttempts: chkmarkForRetrievalBluetoothReconnectAttempts,
      chkmarkForRetrievalBluetoothBeepOnReconnectAttempt: chkmarkForRetrievalBluetoothBeepOnReconnectAttempt,
      chkmarkForRetrievalBluetoothHidAutoReconnect: chkmarkForRetrievalBluetoothHidAutoReconnect,
      chkmarkForRetrievalBluetoothFriendlyName: chkmarkForRetrievalBluetoothFriendlyName,
      chkmarkForRetrievalBluetoothInquiryMode: chkmarkForRetrievalBluetoothInquiryMode,
      chkmarkForRetrievalBluetoothAutoReconnect: chkmarkForRetrievalBluetoothAutoReconnect,
      chkmarkForRetrievalForceSavePairingBarcode: chkmarkForRetrievalForceSavePairingBarcode,
      chkmarkForRetrievalLowBatteryIndication: chkmarkForRetrievalLowBatteryIndication,
      chkmarkForRetrievalLowBatteryIndicationCycle: chkmarkForRetrievalLowBatteryIndicationCycle,
      chkmarkForRetrievalScanLineWidth: chkmarkForRetrievalScanLineWidth,
      chkmarkForRetrievalGoodScansDelay: chkmarkForRetrievalGoodScansDelay,
      chkmarkForRetrievalDecodeFeedback: chkmarkForRetrievalDecodeFeedback,
          chkmarkForRetrievalIgnoreCode128Usps: chkmarkForRetrievalIgnoreCode128Usps,
      chkmarkForRetrievalScanTriggerWakeup: chkmarkForRetrievalScanTriggerWakeup,
      chkmarkForRetrievalMems: chkmarkForRetrievalMems,
      chkmarkForRetrievalProximityEnable: chkmarkForRetrievalProximityEnable,
      chkmarkForRetrievalProximityContinuous: chkmarkForRetrievalProximityContinuous,
      chkmarkForRetrievalProximityDistance: chkmarkForRetrievalProximityDistance,
      chkmarkForRetrievalPagingEnable: chkmarkForRetrievalPagingEnable,
      chkmarkForRetrievalPagingBeepSequence: chkmarkForRetrievalPagingBeepSequence});

    
    

  return false;
  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>

<body>
<p>RSM Test Page</p>
<br /><br />
<div id="myResult">RSM info</div> 
<br /><br />

<form name="myfrm" action="">

<label for="selectevent">Select event type</label>
     <select name="selectevent" id="selectevent">
     <option value="JavaScript">JavaScript</option>
     <option value="DETACHEVENT">DETACHEVENT</option>
     <option value="EMPTYEVENT">EMPTYEVENT</option>
     </select>
 <br />  <br />

<INPUT type="button" value="RegisterEnumEvent" name="RegisterEnumEvent" onClick="registerenumevent();"> 
<INPUT type="button" value="Enumerate" name="Enumerate" onClick="enumeratescanner();"> 
  <br />
<INPUT type="button" value="Enable" name="Enable" onClick="enablescanner();"> 
<INPUT type="button" value="Enable2" name="Enable2" onClick="enablescanner2();">
<INPUT type="button" value="Enable3" name="Enable3" onClick="enablescanner3();"> 
<INPUT type="button" value="Disable" name="Disable" onClick="disablescanner();"> 
 <br />
<INPUT type="button" value="Start" name="Start" onClick="startscanner();">  
<INPUT type="button" value="Stop" name="Stop" onClick="stopscanner();">    
 <br />
<label for="selectscanner">Select Scanner</label>
<select id="selectscanner" name="selectscanner">
          <% if $scanners %>
          <% $scanners.each do |scan| %>
          <option value='<%= scan['deviceName'] %>'><%= scan['deviceName']+scan['friendlyName'] %></option>
       <% end %>
       <% end %>
     <option value="TEST">INVALIDSTRING</option>
    <option value="">EMPTYSTRING</option>   
 </select>
         
<br />   
<INPUT type="button" value="ENABLED selected scanner" name="ENABLED selected scanner" onClick="enableselectedscanner();">  
<br />      

<label for="selectdecodeevent">Select event type</label>
 <select name="selectdecodeevent" id="selectdecodeevent">
 <option value="JavaScript">JavaScript</option>
 <option value="DETACHEVENT">DETACHEVENT</option>
 <option value="EMPTYEVENT">EMPTYEVENT</option>
 </select>
<br />
<INPUT type="button" value="RegisterDecodeEvent" name="RegisterDecodeEvent" onClick="registerdecodeevent();"> 
<br />
       

<table>
<tr>
    <td>markForRetrievalModelNumber<input type="checkbox" id="chkmarkForRetrievalModelNumber"/></td>
</tr>
<tr>
    <td>markForRetrievalSerialNumber<input type="checkbox" id="chkmarkForRetrievalSerialNumber"/></td>
</tr>

<tr>
    <td>markForRetrievalDateOfManufacture<input type="checkbox" id="chkmarkForRetrievalDateOfManufacture"/></td>
</tr>

<tr>
    <td>markForRetrievalDateOfService<input type="checkbox" id="chkmarkForRetrievalDateOfService"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothAddress<input type="checkbox" id="chkmarkForRetrievalBluetoothAddress"/></td>
</tr>

<tr>
    <td>markForRetrievalFirmwareVersion<input type="checkbox" id="chkmarkForRetrievalFirmwareVersion"/></td>
</tr>

<tr>
    <td>markForRetrievalDeviceClass<input type="checkbox" id="chkmarkForRetrievalDeviceClass"/></td>
</tr>

<tr>
    <td>markForRetrievalBatteryStatus<input type="checkbox" id="chkmarkForRetrievalBatteryStatus"/></td>
</tr>

<tr>
    <td>markForRetrievalBatteryCapacity<input type="checkbox" id="chkmarkForRetrievalBatteryCapacity"/></td>
</tr>

<tr>
    <td>markForRetrievalBatteryId<input type="checkbox" id="chkmarkForRetrievalBatteryId"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothAuthentication<input type="checkbox" id="chkmarkForRetrievalBluetoothAuthentication"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothEncryption<input type="checkbox" id="chkmarkForRetrievalBluetoothEncryption"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothPinCode<input type="checkbox" id="chkmarkForRetrievalBluetoothPinCode"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothPinCodeType<input type="checkbox" id="chkmarkForRetrievalBluetoothPinCodeType"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothReconnectAttempts<input type="checkbox" id="chkmarkForRetrievalBluetoothReconnectAttempts"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothBeepOnReconnectAttempt<input type="checkbox" id="chkmarkForRetrievalBluetoothBeepOnReconnectAttempt"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothHidAutoReconnect<input type="checkbox" id="chkmarkForRetrievalBluetoothHidAutoReconnect"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothFriendlyName<input type="checkbox" id="chkmarkForRetrievalBluetoothFriendlyName"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothInquiryMode<input type="checkbox" id="chkmarkForRetrievalBluetoothInquiryMode"/></td>
</tr>

<tr>
    <td>markForRetrievalBluetoothAutoReconnect<input type="checkbox" id="chkmarkForRetrievalBluetoothAutoReconnect"/></td>
</tr>

<tr>
    <td>markForRetrievalForceSavePairingBarcode<input type="checkbox" id="chkmarkForRetrievalForceSavePairingBarcode"/></td>
</tr>

<tr>
    <td>markForRetrievalLowBatteryIndication<input type="checkbox" id="chkmarkForRetrievalLowBatteryIndication"/></td>
</tr>

<tr>
    <td>markForRetrievalLowBatteryIndicationCycle<input type="checkbox" id="chkmarkForRetrievalLowBatteryIndicationCycle"/></td>
</tr>

<tr>
    <td>markForRetrievalScanLineWidth<input type="checkbox" id="chkmarkForRetrievalScanLineWidth"/></td>
</tr>

<tr>
    <td>markForRetrievalGoodScansDelay<input type="checkbox" id="chkmarkForRetrievalGoodScansDelay"/></td>
</tr>

<tr>
    <td>markForRetrievalDecodeFeedback<input type="checkbox" id="chkmarkForRetrievalDecodeFeedback"/></td>
</tr>

<tr>
    <td>markForRetrievalIgnoreCode128Usps<input type="checkbox" id="chkmarkForRetrievalIgnoreCode128Usps"/></td>
</tr>


<tr>
    <td>markForRetrievalScanTriggerWakeup<input type="checkbox" id="chkmarkForRetrievalScanTriggerWakeup"/></td>
</tr>

<tr>
    <td>markForRetrievalMems<input type="checkbox" id="chkmarkForRetrievalMems"/></td>
</tr>

<tr>
    <td>markForRetrievalProximityEnable<input type="checkbox" id="chkmarkForRetrievalProximityEnable"/></td>
</tr>

<tr>
    <td>markForRetrievalProximityContinuous<input type="checkbox" id="chkmarkForRetrievalProximityContinuous"/></td>
</tr>


<tr>
    <td>markForRetrievalProximityDistance<input type="checkbox" id="chkmarkForRetrievalProximityDistance"/></td>
</tr>


<tr>
    <td>markForRetrievalPagingEnable<input type="checkbox" id="chkmarkForRetrievalPagingEnable"/></td>
</tr>


<tr>
    <td>markForRetrievalPagingBeepSequence<input type="checkbox" id="chkmarkForRetrievalPagingBeepSequence"/></td>
</tr>



</table>


<br>
<INPUT type="button" value="RegisterRSMEvents" name="RegisterRSMEvents" onClick="registerrsmevent();">    
<br />


<INPUT type="button" value="bluetoothUnpair" name="bluetoothUnpair" onClick="Unpair();">   
<INPUT type="button" value="bluetoothDisconnect" name="bluetoothDisconnect" onClick="Disconnect();"> 
<INPUT type="button" value="pagingActivate" name="pagingActivate" onClick="activatepaging();"> 

<br>

<label for="selectbluetoothAuthentication">Select BT Authetication Value</label>
<select name="selectbluetoothAuthentication" id="selectbluetoothAuthentication">
<option value="True">True</option>
<option value="False">False</option>
<option value="Test">Test</option>
<option value="">EmptyString</option>
</select>
<INPUT type="button" value="setbtauthentication" name="setbtauthentication" onClick="setbtauthentication();"> 


</br>
<br>


<label for="selectbluetoothEncryption">Select BT Encryption Value</label>
<select name="selectbluetoothEncryption" id="selectbluetoothEncryption">
<option value="True">True</option>
<option value="False">False</option>
<option value="Test">Test</option>
<option value="">EmptyString</option>
</select>
<INPUT type="button" value="setbtencryption" name="setbtencryption" onClick="setbtencryption();"> 

<br>

<label for="txtbtpincode" class="itemLabel">BT PIN Code</label>
<input type="text" id="txtbtpincode" name="txtbtpincode"  value = "12345"  class="itemValue"  />
<INPUT type="button" value="setbtpincode" name="setbtpincode" onClick="setbtpincode();">

</br>



  <label for="selectpincodetype">Select BT pincodetype</label>
  <select name="selectpincodetype" id="selectpincodetype">
  <option value="PromptUser">PromptUser</option>
  <option value="UseStored">UseStored</option>
  <option value="Test">Test</option>
  <option value="">EmptyString</option>
  </select>
  <INPUT type="button" value="setbtpincodetype" name="setbtpincodetype" onClick="setbtpincodetype();"> 
  
  
  <br>
  
  
  <label for="txtbluetoothReconnectAttempts" class="itemLabel">BT Reconnection Attempts</label>
  <input type="text" id="txtbluetoothReconnectAttempts" name="txtbluetoothReconnectAttempts"  value = "40"  class="itemValue"  />
  <INPUT type="button" value="setbluetoothReconnectAttempts" name="setbluetoothReconnectAttempts" onClick="setbluetoothReconnectAttempts();">  
  
  </br>
  <br>
    <label for="selectbluetoothHidAutoReconnect">Select BT HidAutoReconnect</label>
    <select name="selectbluetoothHidAutoReconnect" id="selectbluetoothHidAutoReconnect">
    <option value="NeverReconnect">NeverReconnect</option>
    <option value="ReconnectOnData">ReconnectOnData</option>
    <option value="ReconnectImmediately">ReconnectImmediately</option>
    <option value="Test">Test</option>
    <option value="">EmptyString</option>
    </select>
    <INPUT type="button" value="setbluetoothHidAutoReconnect" name="setbluetoothHidAutoReconnect" onClick="setbluetoothHidAutoReconnect();">
    
    </br>
    
    <br>
    
    
    <label for="txtbtfriendlyname" class="itemLabel">BT Friendly Name</label>
    <input type="text" id="txtbtfriendlyname" name="txtbtfriendlyname"  value = "myrsmscanner"  class="itemValue"  />
    <INPUT type="button" value="setbtfriendlyname" name="setbtfriendlyname" onClick="setbtfriendlyname();"> 
    
    </br>
    <br>
      <label for="selectbluetoothInquiryMode">Select BT inquirymode</label>
      <select name="selectbluetoothInquiryMode" id="selectbluetoothInquiryMode">
      <option value="General">General</option>
      <option value="Limited">Limited</option>
      <option value="Test">Test</option>
      <option value="">EmptyString</option>
      </select>
      <INPUT type="button" value="setbluetoothInquiryMode" name="setbluetoothInquiryMode" onClick="setbluetoothInquiryMode();">
    
    
    </br>
     
  <br>
      <label for="selectbluetoothAutoReconnect">Select BT AutoReconnect</label>
      <select name="selectbluetoothAutoReconnect" id="selectbluetoothAutoReconnect">
      <option value="None">None</option>
      <option value="OnPower">OnPower</option>
      <option value="OnOutofRange">OnOutofRange</option>
      <option value="OnPowerOutofRange">OnPowerOutofRange</option>
      <option value="Test">Test</option>
      <option value="">EmptyString</option>
      </select>
      <INPUT type="button" value="setbluetoothAutoReconnect" name="setbluetoothAutoReconnect" onClick="setbluetoothAutoReconnect();">
      
      
      <br>
      
     <br> 
      <label for="selectforceSavePairingBarcode">Select BT forceSavePairingBarcode</label>
      <select name="selectforceSavePairingBarcode" id="selectforceSavePairingBarcode">
      <option value="Enabled">Enabled</option>
      <option value="Disabled">Disabled</option>
      <option value="Test">Test</option>
      <option value="">EmptyString</option>
      </select>
      <INPUT type="button" value="setforceSavePairingBarcode" name="setforceSavePairingBarcode" onClick="setforceSavePairingBarcode();">  
      
      </br>
      <br>
      
      
      <label for="selectlowBatteryIndication">Select BT lowBatteryIndication</label>
      <select name="selectlowBatteryIndication" id="selectlowBatteryIndication">
      <option value="Enabled">Enabled</option>
      <option value="Disabled">Disabled</option>
      <option value="Test">Test</option>
      <option value="">EmptyString</option>
      </select>
      <INPUT type="button" value="setlowBatteryIndication" name="setlowBatteryIndication" onClick="setlowBatteryIndication();"> 
      
      </br>
      
      <br>
      <label for="txtlowBatteryIndicationCycle" class="itemLabel">BT lowBatteryIndicationCycle</label>
      <input type="text" id="txtlowBatteryIndicationCycle" name="txtlowBatteryIndicationCycle"  value = "10"  class="itemValue"  />
      <INPUT type="button" value="setlowBatteryIndicationCycle" name="setlowBatteryIndicationCycle" onClick="setlowBatteryIndicationCycle();">     
      
      </br>   
      <br>
        <label for="selectscanlinewidth">Select BT scanlinewidth</label>
        <select name="selectscanlinewidth" id="selectscanlinewidth">
        <option value="Wide">Wide</option>
        <option value="Narrow">Narrow</option>
        <option value="Test">Test</option>
        <option value="">EmptyString</option>
        </select>
        <INPUT type="button" value="setscanlinewidth" name="setscanlinewidth" onClick="setscanlinewidth();"> 
      
      
</br>
<br>  

        <label for="txtgoodscansdelay" class="itemLabel">BT goodscansdelay</label>
        <input type="text" id="txtgoodscansdelay" name="txtgoodscansdelay"  value = "5000"  class="itemValue"  />
        <INPUT type="button" value="setgoodscansdelay" name="setgoodscansdelay" onClick="setgoodscansdelay();"> 
        
        
        </br>
        
    <br>    
          <label for="selectdecodefeedback">Select BT decodefeedback</label>
          <select name="selectdecodefeedback" id="selectdecodefeedback">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setdecodefeedback" name="setdecodefeedback" onClick="setdecodefeedback();">  
       </br>   
          <br>
          
          
          <label for="selectignoreCode128Usps">Select BT ignoreCode128Usps</label>
          <select name="selectignoreCode128Usps" id="selectignoreCode128Usps">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setignoreCode128Usps" name="setignoreCode128Usps" onClick="setignoreCode128Usps();"
          
          
          </br>
          <br>
          
          <label for="selectscanTriggerWakeup">Select BT scanTriggerWakeup</label>
          <select name="selectscanTriggerWakeup" id="selectscanTriggerWakeup">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setscanTriggerWakeup" name="setscanTriggerWakeup" onClick="setscanTriggerWakeup();"
          
          
          </br>
          <br>
          
          
          <label for="selectmems">Select BT mems</label>
          <select name="selectmems" id="selectmems">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setmems" name="setmems" onClick="setmems();"
          
          
          </br>
          <br>
          
          <label for="selectproximityEnable">Select BT proximityEnable</label>
          <select name="selectproximityEnable" id="selectproximityEnable">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setproximityEnable" name="setproximityEnable" onClick="setproximityEnable();"
          
          
          </br>
          <br>
          
          <label for="selectproximityContinuous">Select BT proximityContinuous</label>
          <select name="selectproximityContinuous" id="selectproximityContinuous">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setproximityContinuous" name="setproximityContinuous" onClick="setproximityContinuous();"
          
          </br>
          <br>
          
          <label for="selectproximityDistance">Select BT proximityDistance</label>
          <select name="selectproximityDistance" id="selectproximityDistance">
          <option value="Long">Long</option>
          <option value="Short">Short</option>
          <option value="Medium">Medium</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setproximityDistance" name="setproximityDistance" onClick="setproximityDistance();"
          
          
          
          </br>
          <br>
          
          <label for="selectpagingEnable">Select BT pagingEnable</label>
          <select name="selectpagingEnable" id="selectpagingEnable">
          <option value="Enabled">Enabled</option>
          <option value="Disabled">Disabled</option>
          <option value="Test">Test</option>
          <option value="">EmptyString</option>
          </select>
          <INPUT type="button" value="setpagingEnable" name="setpagingEnable" onClick="setpagingEnable();"
          
          
          </br>
          <br>
          
          <label for="txtpagingBeepSequence" class="itemLabel">BT pagingBeepSequence</label>
          <input type="text" id="txtpagingBeepSequence" name="txtpagingBeepSequence"  value = "12"  class="itemValue"  />
          <INPUT type="button" value="setpagingBeepSequence" name="setpagingBeepSequence" onClick="setpagingBeepSequence();"> 
          

          </br>
            
            <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
            <br/>




</form>
</body>
</html>
