/*
 * standard stylesheet for FFI (with Normal Fonts)
 * @version 2003.12.06
 */

A.orangebutton, a.orangebutton:link, a.orangebutton:visited, a.orangebutton:active, a.orangebutton:hover {
	border:1px solid;
	border-color:#FC9 #630 #330 #F96;
	padding:0 3px;
	font:bold 10px verdana,sans-serif;
	color:#fff;
	background:#F60;
	text-decoration:none;
	margin:0;
}
:link IMG {
	border:             none;
	text-decoration:    none;
	}

:visited IMG {
	border:             none;
	text-decoration:    none;
	}

BODY {
	margin:             0;
	padding:            0;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	}

#content { margin-left: 16px; margin-right: 16px; }

DL {
	font-size:          small;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	}

FORM {
	margin:             0px;
	}

H1 {
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          xx-large;
	margin-bottom:      0px;
	margin-top:         0px;
	}

H2 {
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          x-large;
	margin-bottom:      0px;
	margin-top:         0px;
	}

H3 {
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          large;
	margin-bottom:      0px;
	margin-top:         0px;
	}

H4 {
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          medium;
	margin-bottom:      0px;
	margin-top:         0px;
	}

HR {
	background-color:   #000000;
	border-style:       none;
	color:              #000000;
	}

LI {
	font-size:          small;
	}

P {
	font-size:          small;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
}

P.a {
	margin-left:        40px;
}

P.q {
	font-weight:        bold;
}

TABLE.box {
	background-color:   #efefef;
	border-collapse:    collapse;
	border-spacing:     0px;
	border-style:		solid;
	border-color:		#000000;
	border-width:		1px;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	margin-top:         0.5em;
	}

TABLE.box TH {
	background-color:   #336699;
	color:              #ffffff;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	letter-spacing:     0.05em;
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	padding:            3pt;
	}

TABLE.box TD {
	padding-left:       0.5em;
	padding-right:      0.5em;
	padding-bottom:     0.5em;
	padding-top:        2px;
	}

TABLE.box UL {
	margin-top:         0px;
	margin-bottom:      0px;
	margin-left:        1.5em;
	padding:            0px;
	}

TABLE.center {
	margin-left:        auto;
	margin-right:       auto;
	}

TABLE.dataentry {
	background-color:   #efefef;
	border-collapse:    collapse;
	border-spacing:     0px;
	border-style:		solid;
	border-color:		#000000;
	border-width:		1px;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	margin-top:         0.5em;
	text-align:         center;
	margin-left:        auto;
	margin-right:       auto;
	}

TABLE.dataentry TD {
	padding:            3pt;
	margin:             0px;
	text-align:         left;
	}

TABLE.dataentry TH {
	background-color:   #336699;
	color:              #ffffff;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	letter-spacing:     0.05em;
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	padding:            3pt;
	}

TABLE.footer {
	border-collapse:    collapse;
	border-spacing:     0px;
	font-size:          small;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	margin:             0px -16px 0px -16px;
	padding:            0px;
	width:              100%;
	}

TABLE.grid {
	border-collapse:    collapse;
	border-spacing:     0px;
	border-style:		solid;
	border-color:		#000000;
	border-width:		1px;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	margin-top:         0.5em;
	}

TABLE.grid TD {
	border-color:		#000000;
	border-style:		solid;
	border-width:       1px;
	margin:             0px;
	padding:            3pt;
	}

TABLE.grid TH {
	background-color:   #DDDDDD;
	border-style:		solid;
	border-color:		#000000;
	border-width:       1px;
	color:              #000000;
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	letter-spacing:     0.05em;
	margin:             0px;
	padding:            3pt;
	}

TABLE.header {
	border-collapse:    collapse;
	border-spacing:     0px;
	font-size:          small;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	margin:             0;
	padding:            0;
	width:              100%;
	}

TABLE.header TD.logo {
	background-color:   #efefef;
	margin:             0px;
	padding-left:       10px;
	padding-top:        15px;
	padding-bottom:     15px;
	}

TABLE.header TD.menu {
	background-color:   #efefef;
	margin:             0px;
	padding:            10px;
	text-align:         right;
	vertical-align:     top;
	}

TABLE.header TD.search {
	background-color:   #336699;
	padding-left:       25px;
	padding-bottom:     3px;
	padding-top:        3px;
	}

TABLE.header TD.crumbtrail {
	background-color:   #336699;
	color:              #ffffff;
	text-align:         right;
	margin:             0px;
	padding:            5px;
	}

TABLE.header TD.crumbtrail A {
	color:              #ffffff;
	}

TABLE.list {
	border-collapse:    collapse;
	border-spacing:     0px;
	border-style:		solid;
	border-color:		#000000;
	border-width:		1px;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	margin-top:         0.5em;
	}

TABLE.list TD {
	padding:            3pt;
	margin:             0px;
	}

TABLE.list TH {
	background-color:   #336699;
	color:              #ffffff;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	letter-spacing:     0.05em;
	font-family:        trebuchet ms,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	padding:            3pt;
	}

TABLE.list TR.row0 TD {
	background-color:   #ffffff;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	font-size:          small;
	}

TABLE.list TR.row1 TD {
	background-color:   #efefef;
	border-bottom-width:1px;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	font-size:          small;
	}

TABLE.sitemap {
	border-collapse:    collapse;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	}

TABLE.sitemap TD {
	padding:        0px;
	margin:         0px;
	border-width:   0px;
	}

xTABLE.tabstrip {
	font-size:                  small;
	padding:                    3pt;
	border-collapse:            collapse;
	border-width:               1px;
	}

xTABLE.tabstrip TD {
	background-color:           #efefef;
}

xTABLE.tabstrip TH.active {
	background-color:           #efefef;
	border-color:               black;
	border-top-width:           1px;
	border-left-width:          1px;
	border-right-width:         1px;
	border-bottom-width:        0px;
	border-style:               solid;
	padding-left:               3pt;
	padding-right:              3pt;
	}

xTABLE.tabstrip TH.inactive {
	background-color:		    #cccccc;
	border-color:               black;
	border-width:               1px;
	border-style:               solid;
	padding-left:               3pt;
	padding-right:              3pt;
	}

xTABLE.tabstrip TH.inactive A {
	text-decoration: none;
	}

xTABLE.tabstrip TH.spacer {
	border-color:               black;
	border-top-width:           0px;
	border-left-width:          0px;
	border-right-width:         0px;
	border-bottom-width:        1px;
	border-style:               solid;
	padding: 3pt;
	}

TABLE.tip
{
	background:         #eef3fb;
	border-width:       2px;
	border-style:       solid;
	border-color:       #b6c7e5;

	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;

	font-size:          small;
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	padding:            10px;
}

TABLE.tip TD
{
	border-width:       0px;
}

TABLE.plain {
	font-family:        verdana,arial,helvetica,code2000,sans-serif;
	font-size:          small;
	}

