<!DOCTYPE html>
<html>
<head>
    <title>Manual specs</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
    <script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/public/jquery/jquery.json-2.3.min.js"></script>
    <script type="text/javascript" src="/public/api/rhoapi-modules.js"></script>
    <script type="text/javascript" src="/public/js/helpers.js"></script>
    
</head>
<body>

<h3>Manual Specs which use Jasmine</h3>
<ul>
	
    <li><a href="/app/Printing/specRunner.html?spec=Printing_with_JS">Printer Tests JavaScript</a></li><br/>
    <li><a href="/app/Printing/specRunner.html?spec=Printing_with_Ruby">Printer Tests Ruby</a></li>
    
</ul>


</body>
</html>

