<div data-role="page" data-url="<%= Rho::Application.startURI %>/">

  <div data-role="header" data-position="inline">
    <h1>RhoMobileAppForTest</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="Database/specRunner.html">Database Test</a></li>
      <li><a href="Filelist/specRunner.html">Filelist Test</a></li>
    </ul>
  </div>

</div>
