<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>RhodesTest</title>
  <!--<link href="/public/css/base.css" type="text/css" rel="stylesheet"/>
  <link href="/public/css/style.css" type="text/css" rel="stylesheet"/>  -->

  <script src="/public/js/jquery-3.2.1.min.js"></script>

  <script src="/public/libs/jstree/jstree.min.js"></script>
  <link rel="stylesheet" href="/public/libs/jstree/themes/default/style.min.css" />

  <script src="/public/api/rhoapi-modules.js"></script>

  <script src="/public/js/spin.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
  <% if System::get_property('platform') == 'APPLE' || System::get_property('platform') == 'UWP'%>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

      <!-- <script src="/public/js/jquery-1.2.6.min.js"></script>
      <script src="/public/js/rho.js"></script>
      <script src="/public/js/application.js"></script>  -->

      <!-- <link href="/public/css/iphone.css" type="text/css" rel="stylesheet"/>  -->
  <% else %>
      <% if System::get_property('platform') == 'Blackberry' && System::get_property('webview_framework') !~ /^WEBKIT/ %>
          <link href="/public/css/blackberry.css" type="text/css" rel="stylesheet"/>
      <% else %>
          <link href="/public/css/xhtml.css" type="text/css" rel="stylesheet"/>
      <% end %>
  <% end %>

</head>
<body>
<%= @content %>
</body>
</html>