TODO
tmp
gcm_push_client/bin
gcm_push_client/*.log
gcm_push_client/rholog.txt
gcm_push_client/app/local_server.rb

rhoconnect_push_client/bin
rhoconnect_push_client/*.log
rhoconnect_push_client/rholog.txt
rhoconnect_push_client/build.yml
rhoconnect_push_client/app/local_server.rb
rhoconnect_push_client/app/push_server.rb
rhoconnect_push_client/app/sync_server.rb
