TODO
README_ANDROID_PUSH_SPECS
tmp
*.xml
config.yml

push_client_rb/bin
push_client_rb/*.log
push_client_rb/rholog.txt
push_client_rb/app/local_server.rb
push_client_rb/app/push_server.rb
push_client_rb/app/sync_server.rb

store-rhodes-client/bin
store-rhodes-client/rhosimulator
store-rhodes-client/rholog.txt

android_push_client/
push_client_js/*.log
