<Configuration>
<SERVERADDRESS-VALUE-10.233.85.82/>
<FTPUSERNAME-VALUE-ftpadmin/>
<FTPPASSWORD-VALUE-ftpadmin/>
<SEARCHOPTION-VALUE-1/>
<TIMEINTERVAL-VALUE-15000/>
<FREQUENCY-VALUE-1/>
<TIME-VALUE-11:00/>
<SUNDAY-VALUE-0>
<MONDAY-VALUE-0>
<TUESDAY-VALUE-0>
<WEDNESDAY-VALUE-0>
<THURSDAY-VALUE-0>
<FRIDAY-VALUE-0>
<SATURDAY-VALUE-0>     
</Configuration>
