<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function setSyncServerUrl()
{
  var syncUrl=document.getElementById("syncUrl").value;  
  $.get('/app/Settings/setSyncServerUrl', {syncUrl : syncUrl });
  return false;  
}

function checkLogged_in_Property()
{
  $.get('/app/Settings/checklogged_in', {});
  return false;  
}


function callSyncProduct()
{
  $.get('/app/Settings/callSyncProduct', { });
  return false; 
}

function callSyncCustomer()
{
  $.get('/app/Settings/callSyncCustomer', { });
  return false; 
}

function callSyncBySourceName()
{
  $.get('/app/Settings/callSyncBySourceName', { });
  return false; 
}

function callSyncBySourceID()
{
  $.get('/app/Settings/callSyncBySourceID', { });
  return false; 
}

function set_Sync_Callback_Customer()
{
   $.get('/app/Settings/set_Sync_Callback_Customer', {});
   return false; 
  
}

function set_Sync_Callback_Product()
{
  $.get('/app/Settings/set_Sync_Callback_Product', { });
  return false; 
}

function setPollInterval()
{
  var pollVal=document.getElementById("pInterval").value;   
  $.get('/app/Settings/setPollInterval', {pollVal : pollVal });
  return false; 
}

function clear_Sync_Callback_Product()
{
  $.get('/app/Settings/clear_Sync_Callback_Product', { });
  return false; 
}


function doDBReset()
{
  $.get('/app/Settings/doDBReset', { });
  return false; 
}

function do_reset_full_logout()
{
  $.get('/app/Settings/do_reset_full_logout', { });
  return false; 
}

function do_reset_fullclient_logout()
{
  $.get('/app/Settings/do_reset_fullclient_logout', { });
  return false; 
}

function get_rhomsource_attributes()
{
  var SourceName=document.getElementById("SourceName").value;  
  $.get('/app/Settings/get_rhomsource_attributes', {SourceName:SourceName });
  return false; 
}

function get_clientID()
{
  var SourceName=document.getElementById("SourceName").value;  
  $.get('/app/Settings/get_clientID', {SourceName:SourceName });
  return false; 
  
}

function dochangedProperty()
{
  var SourceName=document.getElementById("SourceName").value;  
  $.get('/app/Settings/dochangedProperty', {SourceName:SourceName });
  return false;  
}

function checkMetaDataProperty()
{
  var SourceName=document.getElementById("SourceName").value;  
  $.get('/app/Settings/checkMetaDataProperty', {SourceName:SourceName });
  return false;  
}

function assignMetaData()
{
  var SourceName=document.getElementById("SourceName").value;  
  $.get('/app/Settings/assignMetaData', {SourceName:SourceName });
  return false;  
}


function createRecord()
{
  $.get('/app/Settings/createRecord', { });
  return false;  
}

function deleteRecord()
{
  $.get('/app/Settings/deleteRecord', { });
  return false;  
}

function updateRecord()
{
  $.get('/app/Settings/updateRecord', { });
  return false;  
}


function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>

<body>
 <div data-role="page">
  <div data-role="header" data-position="inline">
  </div>
  <div data-role="content">
    <ul data-role="listview">
      <li>
        <div class="itemLabel">
          <span class="title">Client ID:</span>
        </div>
        <div class="itemValue">
          <span class="clientID"><%= Rhom::Rhom::client_id %></span>
        </div>
      </li>
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>
      </ul>
   </div>
</div>
<br><br>
<div id="myResult">results</div> 
<hr>

<form name="myfrm" action=""> 
  
SyncServerURL:<br>
<input type="text" name="syncUrl" id="syncUrl" col="100" value="http://172.20.10.2:9292/" /> 
<INPUT type="button" value="SetSyncServerURL" name="SetSyncServer" onClick="setSyncServerUrl();"> <br>   

<a href="<%= url_for :action => :login %>">Login</a>

<a href="<%= url_for :action => :logout %>">Logout</a><br>

<INPUT type="button" value="logged_in_Property" name="logged_in_Property" onClick="checkLogged_in_Property();">
<INPUT type="button" value="DBRESET" name="DBRESET" onClick="doDBReset();"> <br /><br />
<INPUT type="button" value="Reset_full_logout" name="Reset_full_logout" onClick="do_reset_full_logout();">
<INPUT type="button" value="Reset_fullclient_logout" name="Reset_fullclient_logout" onClick="do_reset_fullclient_logout();">
<hr>
<INPUT type="button" value="Sync_Callback_Product" name="SyncCallback_Product" onClick="set_Sync_Callback_Product();"> 
<INPUT type="button" value="SyncCallback_Customer" name="SyncCallback_Customer" onClick="set_Sync_Callback_Customer();">  
<br />
<hr>
<INPUT type="button" value="Sync_Product_status_false" name="Sync_Product" onClick="callSyncProduct();">    
<INPUT type="button" value="Clear_Callback_Product" name="Clear_Callback_Product" onClick="clear_Sync_Callback_Product();">
<br />
<INPUT type="button" value="Sync_Customer_status_true" name="Sync_Customer" onClick="callSyncCustomer();"> 
<hr>
PollInterval:<input type="text" name="pInterval" id="pInterval" value="20" />  
<INPUT type="button" value="SetPollInterval" name="SetPollInterval" onClick="setPollInterval();">  
<hr>
<INPUT type="button" value="SyncMethod" name="SyncMethod" onClick="callSyncBySourceName();">    
<hr>
<input type="text" name="SourceName" id="SourceName" col="20" value="Product" />
<INPUT type="button" value="RhomSourceAttributes" name="RhomSourceAttributes" onClick="get_rhomsource_attributes();">
<INPUT type="button" value="ClientID" name="ClientID" onClick="get_clientID();"> 
<INPUT type="button" value="ChangedProperty" name="ChangedProperty" onClick="dochangedProperty();"> 
<br />
<INPUT type="button" value="MetaDataProperty" name="MetaDataProperty" onClick="checkMetaDataProperty();"> 
<INPUT type="button" value="AssignMetaData" name="AssignMetaData" onClick="assignMetaData();"> 

<br><br><br><br><br><br><br>
</form>
</body>
</html>
