<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function funminimize(){
  $.get('/app/Lan/FunMinimize', {});
   return false;  
}

function registerpowerStateEvent()
{
  document.getElementById("myResult").innerHTML="";
  var selecttriggerevent=document.getElementById("PowerStateEvent").value;
  $.get('/app/Lan/registerpowerStateEvent', { selecttriggerevent:  selecttriggerevent });
  return false;
  
}

function enableadapter()
{
  $.get('/app/Lan/enableadapter1', { });
  return false; 
  
}

function disableadapter()
{
  $.get('/app/Lan/disableadapter1', { });
  return false; 
  
}
function powerstate()
{
  $.get('/app/Lan/powerstate1', { });
  return false; 
  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}





</script>
</head>

<body>
<p>WlanTest</p>
<br /><br />
<div id="myResult">Event info</div> 
  <br><br><br><br><br><br><br><br><br><br><br><br>
      <BR>
    <form name="myfrm" action="">
<label for="PowerStateEvent">Select event type</label>
<select name="PowerStateEvent" id="PowerStateEvent">
                      <option value="JavaScript">JavaScript</option>
                      <option value="DETACHEVENT">DETACHPOWERSATEEVENT</option>
                      <option value="EMPTYEVENT">EMPTYPOWERSATEEVENT</option>
</select>
<br /> 
<INPUT type="button" value="RegisterPowerStateEvent" name="RegisterPowerStateEvent" onClick="registerpowerStateEvent();">
   <br /> <br /> <br /> <br /> 
<br />
      


<INPUT type="button" value="EnableWlan" name="Enable" onClick="enableadapter();">

<INPUT type="button" value="DisableWlan" name="Disable" onClick="disableadapter();">

<INPUT type="button" value="GetAdapterState" name="LocalCapture" onClick="powerstate();">

<br />
<INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
<br/>

 </form>
</body>
</html>
