<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RhomobileTesting">
	<test name="Application_JS">
		<classes>
			<class name="com.testcases.Application_JS" ></class> 
		</classes>
	</test>
	<test name="BatteryIndicator_JS">
		<classes>
			<class name="com.testcases.BatteryIndicator_JS" ></class> 
		</classes>
	</test>
	<test name="Config_JS">
		<classes>
			<class name="com.testcases.Config_JS" ></class> 
		</classes>
	</test>
	<test name="Intent_JS">
		<classes>
			<class name="com.testcases.Intent_JS" ></class> 
		</classes>
	</test>
	<test name="Keycapture_JS">
		<classes>
			<class name="com.testcases.Keycapture_JS" ></class> 
		</classes>
	</test>	
	<test name="Network_JS">
		<classes>
			<class name="com.testcases.Network_JS" ></class> 
		</classes>
	</test>	
	<test name="Notification_JS">
		<classes>
			<class name="com.testcases.Notification_JS" ></class> 
		</classes>
	</test>	
	<test name="Rhodes_AsyncHTTP">
		<classes>
			<class name="com.testcases.Rhodes_AsyncHTTP" ></class> 
		</classes>
	</test>	
	<test name="Rhodes_Hyperlinks">
		<classes>
			<class name="com.testcases.Rhodes_Hyperlinks" ></class> 
		</classes>
	</test>		
	<test name="SignalIndicator_JS">
		<classes>
			<class name="com.testcases.SignalIndicator_JS" ></class> 
		</classes>
	</test>	
	<test name="Signature_JS">
		<classes>
			<class name="com.testcases.Signature_JS" ></class> 
		</classes>
	</test>
	<test name="System_JS">
		<classes>
			<class name="com.testcases.System_JS" ></class> 
		</classes>
	</test>	
	<test name="Tabbar_JS">
		<classes>
			<class name="com.testcases.Tabbar_JS" ></class> 
		</classes>
	</test>	
	<test name="Toolbar_JS">
		<classes>
			<class name="com.testcases.Toolbar_JS" ></class> 
		</classes>
	</test>	
	<test name="Webview_JS">
		<classes>
			<class name="com.testcases.Webview_JS" ></class> 
		</classes>
	</test>		
</suite>
