<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>

<ul>
<div id="myResult">Videocapture</div> 
<li><a href="#" onclick="$.get('/app/Videocapture/funminimize');">Minimize</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/allPropsclear');">ClearAllVideoProps</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/enum');">Enumerate</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/startwithoutevent');">Start</a>
<a href="#" onclick="$.get('/app/Videocapture/videostart');">StartEvent</a>
<a href="#" onclick="$.get('/app/Videocapture/videostop');">Stop</a>
<a href="#" onclick="$.get('/app/Videocapture/videocancel');">Cancel</a></li>

Set_and_get defualt props
<li><a href="#" onclick="$.get('/app/Videocapture/setdefaultprop');">SetDefaultProp</a>
<a href="#" onclick="$.get('/app/Videocapture/getdefaultprop');">GetDefaultProp</a></li>

Set Prpoperties Directly
<li><a href="#" onclick="$.get('/app/Videocapture/setduration_10000');">Duration10000</a>
<a href="#" onclick="$.get('/app/Videocapture/setduration_500');">500</a>
<a href="#" onclick="$.get('/app/Videocapture/setduration_nagative');">Nagative</a>
<a href="#" onclick="$.get('/app/Videocapture/setduration_invalid');">Inval</a>
<a href="#" onclick="$.get('/app/Videocapture/setduration_empty');">Empty</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/setresolutionhigh');">ResHigh</a>
<a href="#" onclick="$.get('/app/Videocapture/setresolutionlow');">ResLow</a>
<a href="#" onclick="$.get('/app/Videocapture/setresolutioninvalid');">ResInval</a>
<a href="#" onclick="$.get('/app/Videocapture/setresolutionempty');">ResEmpty</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/savetogallerytrue');">GalleryTrue</a>
<a href="#" onclick="$.get('/app/Videocapture/savetogalleryfalse');">GFalse</a>
<a href="#" onclick="$.get('/app/Videocapture/savetogalleryinvalid');">GInval</a>
<a href="#" onclick="$.get('/app/Videocapture/savetogalleryempty');">GEmpty</a></li>

Android Only (setting file path)
<li><a href="#" onclick="$.get('/app/Videocapture/setandroidrootfileName');">RootFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setandroidfileName');">AppFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setandroidinvalidfilename');">Invalname</a>
<a href="#" onclick="$.get('/app/Videocapture/setandroidinvalidpath');">InvalPath</a>
<a href="#" onclick="$.get('/app/Videocapture/setandroidemptyfilename');">Empty</a></li>

Windows Only (setting file path)
<li><a href="#" onclick="$.get('/app/Videocapture/setwmrootfileName');">RootFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setwmfileName');">AppFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setwminvalidfilename');">Invalname</a>
<a href="#" onclick="$.get('/app/Videocapture/setwminvalidpath');">InvalPath</a>
<a href="#" onclick="$.get('/app/Videocapture/setwmemptyfilename');">Empty</a></li>

Set Properties using setProperty Method
<li><a href="#" onclick="$.get('/app/Videocapture/setpropduration_15000');">Duration15000</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropduration_400');">400</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropduration_nagative');">Nagative</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropduration_invalid');">Inval</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropduration_empty');">Empty</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/setpropresolutionhigh');">ResHigh</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropresolutionlow');">ResLow</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropresolutioninvalid');">ResInval</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropresolutionempty');">ResEmpty</a></li>
<li><a href="#" onclick="$.get('/app/Videocapture/savetopropgallerytrue');">GalleryTrue</a>
<a href="#" onclick="$.get('/app/Videocapture/savetopropgalleryfalse');">GFalse</a>
<a href="#" onclick="$.get('/app/Videocapture/savetopropgalleryinvalid');">GInval</a>
<a href="#" onclick="$.get('/app/Videocapture/savetopropgalleryempty');">GEmpty</a></li>

Android Only (setting file path)
<li><a href="#" onclick="$.get('/app/Videocapture/setpropandroidrootfileName');">RootFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropandroidfileName');">AppFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropandroidinvalpath');">InvalPath</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropandroidinvalname');">InvalName</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropandroidemptyname');">Empty</a></li>

Windows Only (setting file path)
<li><a href="#" onclick="$.get('/app/Videocapture/setpropwmrootfileName');">RootFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropwmfileName');">AppFname</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropwminvalidfilename');">Invalname</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropwminvalidpath');">InvalPath</a>
<a href="#" onclick="$.get('/app/Videocapture/setpropwmemptyfilename');">Empty</a></li>

Set Properties using setProperties Method
<li><a href="#" onclick="$.get('/app/Videocapture/setvideoandroidProperties');">SetAllAndroidProps</a>
<a href="#" onclick="$.get('/app/Videocapture/setvideowmProperties');">SetAllWMProps</a></li>

Get Properties
<li><a href="#" onclick="$.get('/app/Videocapture/getpropGallery');">GetGallery</a>
<a href="#" onclick="$.get('/app/Videocapture/getpropresolution');">GetResolution</a>
<a href="#" onclick="$.get('/app/Videocapture/getpropduration');">GetDuration</a>
<a href="#" onclick="$.get('/app/Videocapture/getpropfileName');">GetFilename</a>
<a href="#" onclick="$.get('/app/Videocapture/getvideoProperties');">GetVideProps</a>
<a href="#" onclick="$.get('/app/Videocapture/getAllvideoProperties');">GetAllVideoProps</a></li>
</ul>