<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
   
  <div data-role="content">
    <ul data-role="listview">
      <li><a href="ModelBarcode">Barcode</a></li>
      <li><a href="System">System</a></li>
  	  <li><a href="Network">Network</a></li>
  	  <li><a href="ModelWebview">Webview</a></li>
      <li><a href="CardReaderModule">cardreader</a></li>
      <li><a href="Videocapture">Videocapture</a></li>
	  <li><a href="Database">Database</a></li>
  	  <li><a href="Log">Log</a></li>    
	</ul>
<br/><br/>
<li><a href="/app/Settings/app_exit">Exit</a></li>
  </div>

</div>
