<html>
<head>
<h1>PlayBack</h1>
</br>
<h1>keep the vedio video.mp4 audio audio.wav file at Application,Temp folder</h1>
<script type="text/javascript">

function funminimize()
{
  $.get('/app/Palyback/FunMinimize', {});
   return false;  
}

function onstarthttpvd()
{
  alert("onstarthttpvd");
  $.get('/app/Palyback/onStarthttpvd', { });
  return false;   
}

function onstartlocalvd()
{
  alert("onstarlocalvd");
  $.get('/app/Palyback/onStartlocalvd', { });
  return false;   
}

function onstarthttpad()
{
  alert("onstarthttpad");
  $.get('/app/Palyback/onStarthttpad', { });
  return false;   
}

function onstartlocalad()
{
  alert("onstartlocalad");
  $.get('/app/Palyback/onStartlocalad', { });
  return false;   
}

function setvdfilename()
{
  alert("setfilename");
  $.get('/app/Palyback/setvdfilename', { });
  return false;   
}

function setadfilename()
{
  alert("setfilename");
  $.get('/app/Palyback/setadfilename', { });
  return false;   
}

function settypevd()
{
  alert("ontypevd");
  $.get('/app/Palyback/settypevd', { });
  return false;   
}

function settypead()
{
  alert("ontypead");
  $.get('/app/Palyback/settypead', { });
  return false;   
}

function onstop()
{
  alert("onstop");
  $.get('/app/Palyback/onstop', { });
  return false;   
}

function onstart()
{
  alert("onstart");
  $.get('/app/Palyback/onstart', { });
  return false;   
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>
<body>
<p>PlaybackTest</p>
<br /><br />
<div id="myResult">Playback info</div> 
<br /><br />
<form name="myfrm" action="">
<br />
<INPUT type="button" value="starthttpvd" name="starthttpvd" onclick="onstarthttpvd();" /> 
<hr/>
<INPUT type="button" value="starthttpad" name="starthttpad" onClick="onstarthttpad();"> 
<hr/>
<br />
<INPUT type="button" value="startlocalvd" name="startlocalvd" onclick="onstartlocalvd();" /> 
<hr/>
<INPUT type="button" value="startlocalad" name="startlocalad" onclick="onstartlocalad();" /> 
<hr/>
<INPUT type="button" value="setfilenamevd" name="setfilenamevd" onClick="setvdfilename();"> 
<hr/>
<INPUT type="button" value="setfilenamead" name="setfilenamead" onClick="setadfilename();"> 
<hr/>
<INPUT type="button" value="setvdtype" name="setvdtype" onClick="settypevd();"> 
<hr/>
<INPUT type="button" value="setadtype" name="setadtype" onClick="settypead();"> 
<hr/>
<INPUT type="button" value="start" name="start" onClick="onstart();"> 
<hr/>
<INPUT type="button" value="stop" name="stop" onClick="onstop();"> 
<hr/>
  <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
   
    <br/>
 
</form>
</body>
</html>