<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Removed Page</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
   <br>
      New page created
   <br>
   <br>
  </div>

</div>

