<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
var selected_Module="";
var selected_imageupmode="";
var selected_imagedownmode="";

function funminimize(){
  $.get('/app/CandA/FunMinimize', {});
   return false;  
}

function getmodulename() {
  document.getElementById("myResult").innerHTML="";
  selected_Module=document.getElementById("myChoice").value;
  document.getElementById("myResult").innerHTML="Selected Module:"+selected_Module;
  return false;
}

function setright()
{
   var txtright=document.getElementById("right").value;
   $.get('/app/CandA/setright', { txtright:  txtright,selected_Module: selected_Module});
   return false;
}

function setleft()
{
   var txtleft=document.getElementById("left").value;
   $.get('/app/CandA/setleft', { txtleft:  txtleft,selected_Module: selected_Module});
   return false;
}

function settop()
{
   var txttop=document.getElementById("top").value;
   $.get('/app/CandA/settop', { txttop:  txttop,selected_Module: selected_Module});
   return false;
}

function setheight()
{
   var txtheight=document.getElementById("height").value;
   $.get('/app/CandA/setheight', { txtheight:  txtheight,selected_Module: selected_Module});
   return false;
}

function setwidth()
{
   var txtwidth=document.getElementById("width").value;
   $.get('/app/CandA/setwidth', { txtwidth:  txtwidth,selected_Module: selected_Module});
   return false;
}

function setvisibility()
{
   var txtvisibility=document.getElementById("visibility").value;
   $.get('/app/CandA/setvisibility', { txtvisibility:  txtvisibility,selected_Module: selected_Module});
   return false;
}

function setcolor()
{
   var txtcolor=document.getElementById("color").value;
   $.get('/app/CandA/setcolor', { txtcolor:  txtcolor,selected_Module: selected_Module});
   return false;
}


  function getimageupChoice()
  {
   var value= document.getElementById("imageupch").value;
 
    if(value=="http")
    selected_imageupmode="http://192.168.6.18/Resource/";
    else if(value=="httpinvalid1")
    selected_imageupmode="http://";
    else if(value=="httpinvalid2")
    selected_imageupmode="http://192.168.6.18";
  
    
    else if(value=="ftp")
    selected_imageupmode="ftp://ftpadmin:ftpadmin@192.168.6.18/Resource/";
    else if(value=="ftpinvalid1")
    selected_imageupmode="ftp://";
    else if(value=="ftpinvalid2")
    selected_imageupmode="ftp://ftpadmin:ftpadmin@192.168.6.18";
    
    else if(value=="local")
    selected_imageupmode="file://\\Application\\Resource\\";
    else if(value=="localinvalid1")
    selected_imageupmode="file://";
    else if(value=="localinvalid2")
    selected_imageupmode="file://\\Android";
    else if(value=="localinvalid3")
    selected_imageupmode="file:\\//Android//data//Resource//";

   document.getElementById("myResult").innerHTML=selected_Module+selected_imagedownmode;
   
}

    function setimageup()
    {
    getimageupChoice();
    var imageupvalue= document.getElementById("imageupname").value;
    if(imageupvalue=="emptyimage")
    {
    var imageupparam="url('"+selected_imageupmode+"')";
    }
    else if(imageupvalue=="emptyurl")
    {
    var imageupparam="url('')";
    }
    else if(imageupvalue=="empty")
    {
    var imageupparam="";
    }
    else
    {
    var imageupparam="url('"+selected_imageupmode+imageupvalue+"')";
    }
    
      $.get('/app/CandA/setimageup', { imageupparam:  imageupparam,selected_Module: selected_Module});
      return false;
    
}

      function getimagedownChoice()
      {
      var imgdownvalue= document.getElementById("imagedownch").value;
     
       if(imgdownvalue=="http")
       selected_imagedownmode="http://192.168.6.18/Resource/";
       else if(imgdownvalue=="httpinvalid1")
       selected_imagedownmode="http://";
       else if(imgdownvalue=="httpinvalid2")
       selected_imagedownmode="http://192.168.6.18";
     
       
       else if(imgdownvalue=="ftp")
       selected_imagedownmode="ftp://ftpadmin:ftpadmin@192.168.6.18/Resource/";
       else if(imgdownvalue=="ftpinvalid1")
       selected_imagedownmode="ftp://";
       else if(imgdownvalue=="ftpinvalid2")
       selected_imageupmode="ftp://ftpadmin:ftpadmin@192.168.6.18";
       
       else if(imgdownvalue=="local")
       selected_imagedownmode="file://\\Application\\Resource\\";
       else if(imgdownvalue=="localinvalid1")
       selected_imagedownmode="file://";
       else if(imgdownvalue=="localinvalid2")
       selected_imagedownmode="file://\\Android";
       else if(imgdownvalue=="localinvalid3")
       selected_imagedownmode="file://Android//data//Resource//";
       
      document.getElementById("myResult").innerHTML=selected_Module+selected_imagedownmode;
       
      }

      function setimagedown()
      {
        getimagedownChoice();
        var imagedownvalue= document.getElementById("imagedownname").value;
        if(imagedownvalue=="emptyimage")
        {
        var imagedownparam="url('"+selected_imagedownmode+"')";
        }
        else if(imagedownvalue=="emptyurl")
        {
        var imagedownparam="url('')";
        }
        else if(imagedownvalue=="empty")
        {
        var imagedownparam="";
        }
        else
        {
        var imagedownparam="url('"+selected_imagedownmode+imagedownvalue+"')";
        }
         $.get('/app/CandA/setimagedown', { imagedownparam:  imagedownparam,selected_Module: selected_Module});
         return false;
        
      }



function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}


        function setnull()
         {
         document.getElementById("right").value="";
         document.getElementById("left").value="";
         document.getElementById("top").value="";
         document.getElementById("height").value="";
         document.getElementById("width").value="";
         document.getElementById("visibility").selectedIndex = 3;
         document.getElementById("imageupname").selectedIndex = 0;
         document.getElementById("imagedownname").selectedIndex = 0;
         document.getElementById("color").value="";

         }
         
         function setNegative()
         {
           document.getElementById("right").value="-100";
                    document.getElementById("left").value="-100";
                    document.getElementById("top").value="-100";
                    document.getElementById("height").value="-100";
                    document.getElementById("width").value="-100";
                    document.getElementById("visibility").selectedIndex = 3;
                    document.getElementById("imageupname").selectedIndex = 0;
                    document.getElementById("imagedownname").selectedIndex = 0;
                    document.getElementById("color").value="-500";
         
         }
         
         function setZero()
         {
           document.getElementById("right").value="0";
                    document.getElementById("left").value="0";
                    document.getElementById("top").value="0";
                    document.getElementById("height").value="0";
                    document.getElementById("width").value="0";
                    document.getElementById("visibility").selectedIndex = 3;
                    document.getElementById("imageupname").selectedIndex = 0;
                    document.getElementById("imagedownname").selectedIndex = 0;
                    document.getElementById("color").value="0";
         
         }
         
         
         function setInvalid()
         {
           document.getElementById("right").value="a#ae";
                             document.getElementById("left").value="a#ae";
                             document.getElementById("top").value="a#ae";
                             document.getElementById("height").value="a#ae";
                             document.getElementById("width").value="a#ae";
                             document.getElementById("visibility").selectedIndex = 3;
                             document.getElementById("imageupname").selectedIndex = 0;
                             document.getElementById("imagedownname").selectedIndex = 0;
                             document.getElementById("color").value="avbd";
         
         }


</script>
</head>

<body>
<p>CandATest</p>
<br /><br /><br /><br /><br /><br />
<div id="myResult">Meesage info</div> 
  <select name="myChoice" id="myChoice" size=1" onchange="getmodulename();">
  <OPTION value="Select option" >Select option</OPTION>
  <OPTION value="addressBar" >addressBar</OPTION> 
  <OPTION value="backButton" >backButton</OPTION> 
  <OPTION value="forwardButton">forwardButton</OPTION> 
  <OPTION value="goButton">goButton</OPTION> 
  <OPTION value="homeButton">homeButton</OPTION> 
  <OPTION value="keyState">keyState</OPTION> 
  <OPTION value="minimizeButton">minimizeButton</OPTION>
  <OPTION value="quitButton">quitButton</OPTION> 
  <OPTION value="reloadButton">reloadButton</OPTION> 
  <OPTION value="sipButton">sipButton</OPTION> 
  <OPTION value="stopButton">stopButton</OPTION> 
  <OPTION value="zoomTextButton">zoomTextButton</OPTION> 
  <OPTION value="bottomCommandArea">bottomCommandArea</OPTION> 
  <OPTION value="topCommandArea">topCommandArea</OPTION> 
  </select>
  <br />
  <hr />
  <table>
  <tr>
  <td>Right&nbsp;&nbsp;&nbsp;&nbsp;<input id="right" name="right" type="text" size=15 value="40"/></td>
  <td><input type="button" id="rightbutton" value="right" onclick="setright();"></td>
  </tr>
  
  <tr>
  <td>Left&nbsp;&nbsp;&nbsp;&nbsp;<input id="left" name="left" type="text" size=15 value="40"/></td>
  <td><input type="button" id="leftbutton" value="left" onclick="setleft();"></td>
  </tr>
  
  <tr>
  <td>Top&nbsp;&nbsp;<input id="top" name="top" type="text" size=15 value="100"/></td>
  <td><input type="button" id="topbutton" value="top" onclick="settop();"</td>
  </tr>
  
  <tr>
  <td> Height&nbsp;&nbsp;<input id="height" name="height" type="text" size=15 value="100"/></td>
  <td><input type="button" id="heightbutton" value="height" onclick="setheight();"</td>
  </tr>
  
  <tr>
  <td>Width&nbsp;&nbsp; <input id="width" name="width" type="text" size=15 value="100"/></td>
  <td><input type="button" id="widthbutton" value="width" onclick="setwidth();"</td>
  </tr>
  
  <tr>
  <td>Visibility&nbsp;&nbsp; <select name="visibility" id="visibility"> 
  <OPTION value="visible" >visible</OPTION> 
  <OPTION value="hidden" >hidden</OPTION> 
  <OPTION value="aaaa" >invalid</OPTION> 
  <OPTION value="" >empty</OPTION> 
  <OPTION value="Select option" >Select</OPTION>
  </select>
  </td>
  <td><input type="button" id="visibilitybutton" value="Set visibility" onclick="setvisibility();"</td>
  </tr>
  
  
  
  
  
  <tr>
  <td>Imageup/Image Mode:&nbsp;<select name="imageupch" id="imageupch" size=1"> 
  <OPTION value="http" >http</OPTION> 
  <OPTION value="httpinvalid1" >httpinvalid1</OPTION> 
  <OPTION value="httpinvalid2" >httpinvalid2</OPTION> 
  <OPTION value="ftp" >ftp</OPTION> 
  <OPTION value="ftpinvalid1" >ftpinvalid1</OPTION> 
  <OPTION value="ftpinvalid2" >ftpinvalid2</OPTION>
  <OPTION value="local" >local</OPTION> 
  <OPTION value="localinvalid1" >localinvalid1</OPTION> 
  <OPTION value="localinvalid2" >localinvalid2</OPTION> 
  <OPTION value="localinvalid3" >localinvalid3</OPTION>
  <OPTION value="Select option" >Select</OPTION>
  </select>
  </td>
  </tr>
  
  <tr>
  <td>Image Name:&nbsp;<select name="imageupname" id="imageupname" size=1"> 
  <OPTION value="emptyimage" >emptyimage</OPTION> 
  <OPTION value="emptyurl" >emptyurl</OPTION> 
  <OPTION value="empty" >empty</OPTION> 
  <OPTION value="BMW.bmp" >BMW.bmp</OPTION> 
  <OPTION value="Sym.bmp" >Sym.bmp</OPTION> 
  <OPTION value="Ferrari.JPG" >Ferrari.JPG</OPTION> 
  <OPTION value="Infinity.jpeg" >Infinity.jpeg</OPTION> 
  <OPTION value="Symbol.gif" >Symbol.gif</OPTION> 
  <OPTION value="Porsche.gif" >Porsche.gif</OPTION> 
  <OPTION value="Symbol.dfg" >invalid(.dfg)</OPTION>
  </select>
  </td>
  <td><input type="button" id="imageupbutton" value="SetImageUp" onclick="setimageup();"</td>
  </tr>
  
  
  <tr>
  <td>ImgdownMode:&nbsp;<select name="imagedownch" id="imagedownch" size=1"> 
  <OPTION value="http" >http</OPTION> 
  <OPTION value="httpinvalid1" >httpinvalid1</OPTION> 
  <OPTION value="httpinvalid2" >httpinvalid2</OPTION> 
  <OPTION value="ftp" >ftp</OPTION> 
  <OPTION value="ftpinvalid1" >ftpinvalid1</OPTION> 
  <OPTION value="ftpinvalid2" >ftpinvalid2</OPTION>
  <OPTION value="local" >local</OPTION> 
  <OPTION value="localinvalid1" >localinvalid1</OPTION> 
  <OPTION value="localinvalid2" >localinvalid2</OPTION> 
  <OPTION value="localinvalid3" >localinvalid3</OPTION>
  <OPTION value="Select option" >Select</OPTION>
  </select>
  </td>
  </tr>
  
  <tr>
  <td>ImgdownName:&nbsp;<select name="imagedownname" id="imagedownname" size=1"> 
  <OPTION value="emptyimage" >emptyimage</OPTION> 
  <OPTION value="emptyurl" >emptyurl</OPTION>
  <OPTION value="empty" >empty</OPTION>
  <OPTION value="BMW.bmp" >BMW.bmp</OPTION> 
  <OPTION value="Sym.bmp" >Sym.bmp</OPTION> 
  <OPTION value="Ferrari.JPG" >Ferrari.JPG</OPTION> 
  <OPTION value="Infinity.jpeg" >Infinity.jpeg</OPTION> 
  <OPTION value="Symbol.gif" >Symbol.gif</OPTION> 
  <OPTION value="Porsche.gif" >Porsche.gif</OPTION> 
  <OPTION value="Symbol.dfg" >invalid(.dfg)</OPTION> 
  </select>
  </td>
  <td><input type="button" id="imagedownbutton" value="SetImageDown" onclick="setimagedown();"</td>
  </tr>
  
  
  
  <tr>
  <td>Color&nbsp;&nbsp; <input id="color" name="color" type="text" value="#FF0000"  size=15 /> </td>
  <td><input type="button" id="colorbutton" value="Color" onclick="setcolor();"</td>
  </tr>
  </table>
  <br />
  <hr />
  &nbsp;&nbsp;
  <!--<input id="submit" type="button" value="submit" onclick="setallparams();" />-->
  &nbsp;&nbsp;&nbsp;
  <!--<input type="reset" value="Reset!" />-->
  &nbsp;&nbsp;&nbsp;
  <input type="button" value="setNull" onclick="setnull();" /> 
  &nbsp;&nbsp;&nbsp;
  <input type="button" value="setNegative" onclick="setNegative();" /> 
  &nbsp;&nbsp;&nbsp;
  <input type="button" value="setZero" onclick="setZero();" /> 
  &nbsp;&nbsp;&nbsp;
  <input type="button" value="setInvalid" onclick="setInvalid();" /> 
  <br/>
       <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
  <br/>

</form>
</body>
</html>
