<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}
var updateDiv = function (resultDiv,data){
  resultDiv = document.getElementById(myResult)
  resultDiv.innerHTML = "";
  resultDiv.innerHTML = data;
}

</script>
<div id="myResult">Eventinfo</div> 
<fieldset>
    <ul >
      <li><a href="#" onclick ="$.get('/app/Database/openDB');">openDB</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/executeNoArgs');">executeNoArgs</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/excuteBatchNoArgs');">excuteBatchNoArgs</a></li>  
      <li><a href="#" onclick ="$.get('/app/Database/destroyAll');">destroyAll</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/excludeTables');">excludeTables</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/excludeFewTables');">excludeFewTables</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/destroytable');">destroytable</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/closeDb');">closeDb</a></li>     
      <li><a href="#" onclick ="$.get('/app/Database/closeRead');">closeRead</a></li>                    
      <li><a href="#" onclick ="$.get('/app/Database/closeOpen');">closeOpen</a></li>       
      <li><a href="#" onclick ="$.get('/app/Database/commitTxn');">commitTxn</a></li>    
      <li><a href="#" onclick ="$.get('/app/Database/rollbackTxn');">rollbackTxn</a></li>    
      <li><a href="#" onclick ="$.get('/app/Database/comRollTxn');">comRollTxn</a></li>   
      <li><a href="#" onclick ="$.get('/app/Database/noCommitTxn');">noCommitTxn</a></li>   
      <li><a href="#" onclick ="$.get('/app/Database/noCommitTxn1');">noCommitTxn1</a></li>  
      <li><a href="#" onclick ="$.get('/app/Database/multiDBdifferent');">multiDB</a></li>  
      <li><a href="#" onclick ="$.get('/app/Database/multiDBobjects');">multiDBobjectso</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/multiDBobjects2');">multiDBobjects2</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/batchArgs');">ExecutebatchSqlWithArgs</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/destroyTwice');">destroyTwice</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/dropNull');">dropNull</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/nullTable');">isTableExistWithNull</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/rollTxn');">rollbackWithoutStart</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/invalidSql');">InvalidSQLstmt</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/fooDB');">InvalidDBPath</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/invalidBSql');">InvalidBatchSqlstmt</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/nullSql');">NullSqlstmt</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/nullBSql');">NullBatchSqlStmt</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/nullCommit');">CommmitWithoutnull</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/invalidPartition');">InvalidDbPartition</a></li>
      <li><a href="#" onclick ="$.get('/app/Database/closeIrrDb');">CloseDBobject </a></li>
      <li>Invalid DB path and Invalid DB Partition </li>
      <li><a href="#" onclick ="$.get('/app/Database/invalid');">VTID here </a></li>
      <li>Valid DB path and Invalid DB Partition with special characters </li>
      <li><a href="#" onclick ="$.get('/app/Database/invalid1');">VTID here</a></li>
      <li>DB at predefined DB partition "app" </li>
      <li><a href="#" onclick ="$.get('/app/Database/dbApp');">VTID here</a></li>
       <li>DB at predefined DB partition "user" </li>
      <li><a href="#" onclick ="$.get('/app/Database/dbUser');">VTID here</a></li>
       <li>Destroy tables with include and exclude as null </li>
      <li><a href="#" onclick ="$.get('/app/Database/destroyTablesNull');">VTID here</a></li>
      <li>Destroy tables by passsing invalid table names  </li>
      <li><a href="#" onclick ="$.get('/app/Database/destroyTablesInvalid');">VTID here</a></li>
      <li>Destroy tables by passsing combination of valid and invalid table names  </li>
      <li><a href="#" onclick ="$.get('/app/Database/destroyTablesInvalid1');">VTID here</a></li>
       <li>Is Table exists method by passing special characters  </li>
      <li><a href="#" onclick ="$.get('/app/Database/tableExistInvalid');">VTID here</a></li>
      <li>Rollback Transaction after deleting a table </li>
      <li><a href="#" onclick ="$.get('/app/Database/rollDestroyTable');">VTID here</a></li>
      <li>Add a new column to the table</li>
      <li><a href="#" onclick ="$.get('/app/Database/columnAdd');">VTID here</a></li>
       <li>Database with no db path and no db partition</li>
      <li><a href="#" onclick ="$.get('/app/Database/databaseNull');">VTID here</a></li>
     <li>Database with no db path and only  db partition</li>
      <li><a href="#" onclick ="$.get('/app/Database/databaseNullPath');">VTID here</a></li>
     <li>Database with 256 character long db path </li>
      <li><a href="#" onclick ="$.get('/app/Database/databaseNullPath');">VTID here</a></li> 
      <li>SQL statement to delete entire row in the Table </li>
      <li><a href="#" onclick ="$.get('/app/Database/RowDelete');">VTID here</a></li>
      
      
</ul>
</fieldset>

<fieldset>
<ul>
<legend>Start Transaction without commit </legend>
       <li>Click the below link close the application and then click on the next link</li>
      <li><a href="#" onclick ="$.get('/app/Database/noCommit');">VTID here</a></li>
     <li>Click the below link after openeing the application should return false as table was not created  </li>
     <li><a href="#" onclick ="$.get('/app/Database/checkNoCommit');">VTID here</a></li>
     
   <li>Click the below link close the application and then click on the next link</li>
      <li><a href="#" onclick ="$.get('/app/Database/NoCommitDrop');">VTID here</a></li>
     <li>Click the below link after openeing the application should return false as table was not dropped  </li>
     <li><a href="#" onclick ="$.get('/app/Database/checkNoCommitDrop');">VTID here</a></li>
</ul>
</fieldset>
       
  </div>
</div>
