<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function setNetworkCallback()
{
   var pollVal=document.getElementById("pInterval").value;
   $.get('/app/NetworkTest/set_network_callback', { pollVal:  pollVal});
   return false; 
  
}

function setNetworkCallbackWithSync()
{
  var pollVal=document.getElementById("pInterval").value;
  var syncParam3=document.getElementById("syncParam3").value;
  $.get('/app/NetworkTest/set_network_callback_sync', { pollVal:pollVal , syncParam3:syncParam3});
  return false; 
}

function unsetNetworkCallback()
{
  $.get('/app/NetworkTest/unset_network_callback', { });
  return false; 
}

function checkLocalChanges()
{
  $.get('/app/NetworkTest/checkLocalChanges', { });
  return false; 
}

function callSync3params()
{
  var syncParam1=document.getElementById("syncParam1").value;  
  var syncParam3=document.getElementById("syncParam3").value;
  $.get('/app/NetworkTest/callSync3params', { syncParam1:syncParam1 , syncParam3:syncParam3});
  return false; 
}

function callSync2params()
{
  $.get('/app/NetworkTest/callSync2params', { });
  return false; 
}

function callSync1params()
{
  $.get('/app/NetworkTest/callSync1params', {});
  return false; 
}

function callSync()
{
  $.get('/app/NetworkTest/callSync', { });
  return false; 
}

function callSync_emptyparams()
{
  $.get('/app/NetworkTest/callSync_emptyparams', { });
  return false; 
}

function doDBReset()
{
  $.get('/app/NetworkTest/doDBReset', { });
  return false; 
}

function createRecord()
{
  $.get('/app/NetworkTest/createRecord', { });
  return false;  
}

function deleteRecord()
{
  $.get('/app/NetworkTest/deleteRecord', { });
  return false;  
}

function updateRecord()
{
  $.get('/app/NetworkTest/updateRecord', { });
  return false;  
}

function setSyncServerUrl()
{
  var syncUrl=document.getElementById("syncUrl").value;  
  $.get('/app/NetworkTest/setSyncServerUrl', {syncUrl : syncUrl });
  return false;  
}

function setFinishSyncBackground()
{
  var syncBGVal=document.getElementById("FinishSyncBGVal").value;  
  $.get('/app/NetworkTest/setFinishSyncBackground', {syncBGVal : syncBGVal });
  return false;  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>

<body>
<p>SyncNetworkTest</p>
<br /><br /><br /><br /><br /><br /><br />
<div id="myResult">results</div> 
<form name="myfrm" action=""> 
SyncServer:<br /> 
<input type="text" name="syncUrl" id="syncUrl" col="80" value="http://192.168.0.23:9292/application" />  <br />   
<INPUT type="button" value="SetSyncServerURL" name="SetSyncServer" onClick="setSyncServerUrl();">   <hr>


PollInterval:<input type="text" name="pInterval" id="pInterval" value="5" />    <br />     
  <INPUT type="button" value="SetNetworkCallback" name="setCallback" onClick="setNetworkCallback();">  
  <INPUT type="button" value="SetNetworkCallbackWithSync" name="CallbackWithSync" onClick="setNetworkCallbackWithSync();">   <br />
  <INPUT type="button" value="DetachNetworkCallback" name="unsetCallback" onClick="unsetNetworkCallback();"><br />

<hr>
  
SyncParam1:<select name="syncParam1" id="syncParam1">
    <OPTION SELECTED VALUE="">Select</OPTION>
    <option value="true">TRUE</option>
    <option value="false">FALSE</option>
    <option value="">empty</option>
</select>

SyncParam2:<select name="syncParam3" id="syncParam3">
    <OPTION SELECTED VALUE="">Select</OPTION>
    <option value="true">TRUE</option>
    <option value="false">FALSE</option>
    <option value="">empty</option>
</select>  <br />
<INPUT type="button" value="CheckLocalChanges" name="localChangesProperty" onClick="checkLocalChanges();"> &nbsp
<INPUT type="button" value="Sync_3Params" name="Sync_New" onClick="callSync3params();">    
<hr>
<INPUT type="button" value="Sync_2Params" name="Sync_Old" onClick="callSync2params();"> 
<INPUT type="button" value="Sync_1Params" name="Sync_Old" onClick="callSync1params();">
<INPUT type="button" value="Sync_0Params" name="Sync_Old" onClick="callSync();"><br /><br />
<INPUT type="button" value="Sync_emptyParams" name="Sync_Old" onClick="callSync_emptyparams();"><br /><br />
<hr>


<INPUT type="button" value="RESET" name="RESET" onClick="doDBReset();">  
<INPUT type="button" value="AddRecord" name="AddRecord" onClick="createRecord();">    <br />

<INPUT type="button" value="DeleteRecord" name="DeleteRecord" onClick="deleteRecord();">
<INPUT type="button" value="UpdateRecord" name="UpdateRecord" onClick="updateRecord();">
<hr>
SyncBackgroundSyncTest: <br/><br/>
FinishSyncBackground<input type="text" name="FinishSyncBGVal" id="FinishSyncBGVal" col="80" value="1" />  <br />   
<INPUT type="button" value="SetFinishSyncBG" name="SetFinishSyncBG" onClick="setFinishSyncBackground();">    <br />  

</form>
</body>
</html>
