<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Image Page PUPD</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
   <br>
       Image (should be updated after partial update):
   <br>
      <img src="<%=File.join(Rho::RhoApplication::get_model_path('app','BundleTest'), 'image.png')%>" width='256px'>
   <br>
  </div>

</div>

