<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Systems</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
      Home
    </a>
    <a href="<%= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
      New
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
    
    <li><a href="#" onclick ="$.get('/app/System/getProperties1');">getProperties1</a></li>
  
      <li><a href="#" onclick ="$.get('/app/System/getPropertiesAsync');">getPropertiesAsync</a></li>
  
      <li><a href="#" onclick ="$.get('/app/System/getPropertiesAsync2');">getPropertiesAsync2</a></li>
  
      <li><a href="#" onclick ="$.get('/app/System/getPropertiesLambda');">getPropertiesLambda</a></li>
      
      <li><p>getOeminfo</p></li>
      <li><a href="/app/System/getoeminfo">Click here</a></li>   
      
      <li><p>getUUid</p></li>
      <li><a href="/app/System/getUuid">Click here</a></li>
      
      <li><p>DeleteHttpFolder</p></li>
      <li><a href="/app/System/deleteFolder_http">Click here</a></li>
      
      <li><p>Auto rotate true using setProperty</p></li>
        <li><a href="/app/System/setautorotate">Click here</a></li>
        
      <li><p>Auto rotate false using setProperty</p></li>
        <li><a href="/app/System/reset_autorotate">Click here</a></li>
      
      <li><p>Auto rotate true using setProperties</p></li>
         <li><a href="/app/System/setautorotate1">Click here</a></li>       
      
      <li><p>Auto rotate false using setProperties</p></li>   
      <li><a href="/app/System/reset_autorotate1">Click here</a></li>
        
      <li><p>Auto rotate true </p></li>
       <li><a href="/app/System/setautorotate2">Click here</a></li>       
            
       <li><p>Auto rotate false </p></li>   
       <li><a href="/app/System/reset_autorotate2">Click here</a></li>  
      
      <li><p>screen sleeping true using setProperty</p></li>
        <li><a href="/app/System/setscreensleep">Click here</a></li>       
            
        <li><p>screen sleeping  false using setProperty</p></li>   
        <li><a href="/app/System/reset_screensleep">Click here</a></li>  
          
      <li><p>screen sleeping true using setProperties</p></li>
       <li><a href="/app/System/setscreensleep1">Click here</a></li>       
                
       <li><p>screen sleeping  false using setProperties</p></li>   
       <li><a href="/app/System/reset_screensleep1">Click here</a></li>    
       
      <li><p>screen sleeping true </p></li>
       <li><a href="/app/System/setscreensleep2">Click here</a></li>       
                
      <li><p>screen sleeping  false </p></li>   
      <li><a href="/app/System/reset_screensleep2">Click here</a></li>    
      
      <li><p>install cab from http location </p></li>   
       <li><a href="/app/System/install_cab_http">Click here</a></li>    
      
      <li><p>install cab from ftp location </p></li>   
        <li><a href="/app/System/install_cab_ftp">Click here</a></li> 
          
      <li><p>install cab from local app path </p></li>   
       <li><a href="/app/System/install_cab_local">Click here</a></li>   
       
      <li><p>install apk(android) from http location </p></li>   
       <li><a href="/app/System/install_apk_http">Click here</a></li>    
            
       <li><p>install apk(android) from ftp location </p></li>   
        <li><a href="/app/System/install_apk_ftp">Click here</a></li> 
                
       <li><p>install apk(android) from local app path </p></li>   
       <li><a href="/app/System/install_apk_local">Click here</a></li>    
       
      <li><p>install ipa(IOS) from http location </p></li>   
       <li><a href="/app/System/install_ipa_http">Click here</a></li> 
                     
        <li><p>install ipa(IOS) from local app path </p></li>   
        <li><a href="/app/System/install_ipa_local">Click here</a></li> 
        
      <li><p>uninstall cab from device </p></li>   
       <li><a href="/app/System/uninstall_cab">Click here</a></li> 
                      
      <li><p>uninstall apk(android) from device </p></li>   
      <li><a href="/app/System/uninstall_apk">Click here</a></li> 
      
                 
      <li><p>uninstall apk(android) from device </p></li>   
      <li><a href="/app/System/uninstall_ipa">Click here</a></li> 
      
      <li><p>aplication bring to front</p></li>   
       <li><a href="/app/System/bringToFront">Click here</a></li> 
      
      <li><p>Delete Local Folder</p></li>   
      <li><a href="/app/System/deleteFolder_local">Click here</a></li> 
      
      <li><p>Delete Http Folder</p></li>   
       <li><a href="/app/System/deleteFolder_http">Click here</a></li> 
       
      <li><p>Open pdf at http location</p></li>   
       <li><a href="/app/System/open_httpurl_pdf">Click here</a></li> 
      
      <li><p>Open a webpage</p></li>   
       <li><a href="/app/System/open_webpage">Click here</a></li> 

        
      <li><p>Zip File</p></li>
       <li><a href="/app/System/zip_file">Click here</a></li>
       
      <li><p>ZipFile with Pasword</p></li>
        <li><a href="/app/System/zip_file_password">Click here</a></li>
        
      <li><p>Zip the zip file </p></li> 
       <li><a href="/app/System/zip_file_zip">Click here</a></li>
       
      <li><p>Zip the image file </p></li> 
        <li><a href="/app/System/zip_file_img">Click here</a></li>
        
      <li><p>Zip more files </p></li> 
      <li><a href="/app/System/zip_files">Click here</a></li>
      
      <li><p>Unzip the file </p></li> 
      <li><a href="/app/System/unzip_file ">Click here</a></li>
      
      <li><p>Unzip with wrong password </p></li> 
       <li><a href="/app/System/unzip_NoPwd">Click here</a></li>
       
      <li><p>Unzip with pwd </p></li> 
       <li><a href="/app/System/unzip_Pwd">Click here</a></li>
       
      <li><p>Unzip more files</p></li> 
       <li><a href="/app/System/unzip_Pwd_files">Click here</a></li>
       
       
      <li><p>Show Keyboard </p></li> 
       <li><a href="/app/System/keyboard_show">Click here</a></li>
       
      <li><p>Hide Keyboard </p></li> 
       <li><a href="/app/System/keyboard_hidden">Click here</a></li>
       
      <li><p>Show Keyboard using setProperty</p></li> 
       <li><a href="/app/System/Keyboard_show_set">Click here</a></li>
       
      <li><p>Hide Keyboard using setProperty</p></li> 
       <li><a href="/app/System/Keyboard_hidden_set">Click here</a></li>
       
      <li><p>Back up attribute to true </p></li> 
       <li><a href="/app/System/set_do_not_bakup_true">Click here</a></li> 
       
      <li><p>Back up attribute to false </p></li> 
             <li><a href="/app/System/set_do_not_bakup_false">Click here</a></li> 
             
      <li><p>Back up attribute to false to image </p></li> 
        <li><a href="/app/System/set_do_not_bakup_false_img">Click here</a></li>    
                      
    </ul>
  </div>

      </div>
      