<!DOCTYPE html>
<html>
  <head>
  	<link rel="stylesheet" type="text/css" href="../public/css/helvetilist.css">
    <script>
      function manual_testing()
      {
      	window.location = '../public/SpecRunner.html'
      }

    </script>

    <div class="helvi">
	    <h2 class="helvi_h2">Choose the test you wish to run</h2>
	    <ul class="helvi_ul">
	    	<li class="helvi_li" onclick="manual_testing()">Media Playback</li>
	    	<li class="helvi_li" onclick="#">Something awesome...</li>
	    </ul>
    </div>
    <p id="demo"></p>
  </head>
</html>