<div data-role="page">
<script type="text/javascript">
  function postFormdtos(){
  document.getElementById('result').innerHTML = "functon called";    
  var sourceForm = document.getElementById('source').value;
  var destinationForm = document.getElementById('destination').value;
  var createFolderForm = document.getElementById('Select1').value;
  var overwriteForm = document.getElementById('Select2').value;
  var usernameForm = document.getElementById('username').value;
  var passwordForm = document.getElementById('password').value;
  var type = document.getElementById('servertype').value;

  $.get('/app/Filemanage/startTransfer', { 
    source: sourceForm, 
    destination:destinationForm, 
    create:createFolderForm,
    overwrite:overwriteForm,
    username:usernameForm,
    password:passwordForm
  });
  return false;
}
</script>
<div data-role="content">
  <span style="color:red;text-align:center;font-weight:bold"><p><%= @message %></p></span>
  <ul>
  <li>
  <a href="javascript:void(0)" onclick="$.get('/app/Filemanage/setFileTransferEvent',{action: 'set'});">Set File Transfer Event</a><br/>
  <a href="javascript:void(0)" onclick="$.get('/app/Filemanage/setFileTransferEvent',{action: 'det'});">Deattach File Transfer Event</a><br/>
  </li>
  </ul>
  <div id="result">File transfer event</div><br /><br /><br />
  <form>
  <input type="hidden" id="servertype" name="servertype" value="<%= @type %>">
  <table id="transfer">
  <tr>
      <td>Select the File that you want to transfer</td>
      <!-- <td><input type="file" id="filename"/> </td> -->
      
      <td>
      <textarea rows="4" cols="20" id = "source" name="source" >file://\Application\FileCollections\myfile.txt</textarea>
      <!--<input id="source" type="text" value="file://\Application\FileCollections\myfile.txt" name="source"/>-->
      </td>
  </tr>
  <tr>
    <td colspan="2">
   
    <select onchange = "javascript: getServerDetails(this);">
        <option> -- Choose Servers -- </option>
        <% for key, val in @serverList %>
          <option value="<%= val%>"><%= key %></option>
        <%end%>   
    </select>
    </td>
  </tr>  
  <tr>
      <td>Provide the FTP Server Address or Choose from Available Server</td>
      <td>
      <textarea rows="4" cols="20" id = "destination" name="destination" ></textarea>
      <!--<input type="text" name="destination" id="destination"/>--> 
      </td>
  </tr>
  
  <tr>
  <td>User Name</td>
  <td><input type="text" id="username" name="username" /></td>
  </tr>
  <tr>
  <td>Password</td>
  <td><input type="text" id="password" name="password" /></td>
  </tr>
  
  <tr>
  <td>Select CreateFolder value</td>
  <td>
   <select id="Select1" name="create">
  <option value="True">True</option>
  <option value="">EMPTYSTRING</option>
  <option value="False">False</option>
  <option value="Test">Test</option>
  <option value="NULL">NULL</option>
  </select>
  </td>
  </tr>
  <tr>
  <td>Select OverWrite value</td>
  <td><select id="Select2" name="overwrite">
  
  <option value="True">True</option>
  <option value="">EMPTYSTRING</option>
  <option value="false">false</option>
  <option value="Test">Test</option>
  <option value="NULL">NULL</option>
  </select>
  </td>
  
  </tr>
  <tr>
  <td colspan="2" align="center">
  <input type="button" value="Transfer" onclick="postFormdtos()"/>
  </td>
  </tr>
  </table>
<br>
<INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
<br/>
  </form>
  </div>

</div>
<script type="text/javascript">
var getServerDetails = function(e){
  var server = document.getElementById('destination');
  var username = document.getElementById('username');
  var password = document.getElementById('password');
  var selected = e.options[e.selectedIndex].value;
  server.value = selected;
  switch(selected){
  case "ftp://192.168.6.18/Received/myfilefrmdevice.txt":
  case "http://192.168.6.18/NEON/ReceivedFiles/Upload.aspx":
    username.value = "ftpadmin";
    password.value = "ftpadmin";
  break;
  case "192.168.6.32/Received/":
  case "192.168.6.32/Received/":
    username.value = "dont";
    password.value = "dont";
  break;
         
        }
}

function displayResult(value){
  resultDiv = document.getElementById('result');
  resultDiv.innerHTML = value
}

    function funminimize(){
      $.get('/app/Filemanage/FunMinimize', {});
       return false;  
    }

</script>
