<div data-role="page">

  <div data-role="content">
      <ul data-role="listview">
       <li><p>Welcome to File Transfer Ruby Api Testing </p></li>
       <li>
         <a href="Filemanage/devicetoserver/?server=ftp" title="Send File From Device To FTP Server">Device to Ftp</a>
       </li>
       <li>
         <a href="Filemanage/devicetoserver/?server=http" title="Send File From Device To HTTP Server">Device to HTTP</a>
       </li>
       <li>
         <a href="Filemanage/servertodevice/?server=http" title="Get File From HTTP Server To device">HTTP to Device</a>
       </li>
       <li>
         <a href="Filemanage/servertodevice/?server=ftp" title="Get File From FTP Server To Device">Ftp To Device</a>
       </li>
       <li>
         <a href="Filemanage/devicetodevice/" title="">Device To Device</a>
       </li>
        <li>
         <a href="Filemanage/ajaxtransfer/" title="">Ajax</a>
       </li>
       </ul>
  </div>

</div>
