<script language="JavaScript">

window.location = '/app/SpecRunner';

if (location.search =='?settings=true') {
    window.location ='/app/Settings';
}

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		New ORM Specs
	</h1>
</div>
