<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings
    <script type="text/javascript">
    
    </script>
    </h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
    <li>I am Called</li>
           
    </ul>
  </div>
  COUNT FLOAT:::
  <br/>
  <div id="incre4">
  </div>
</div>
