<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings
    </h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
    <li>I am Called</li>
           
    </ul>
  </div>
  COUNT:::
  <br/>
  <div id="incr">
  </div>
</div>
