<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
<div data-role="header" data-position="inline">
    <h1>RhoElements2 Ruby Test</h1>
  </div>
  <div data-role="content">
    <ul data-role="listview">
<li><a href="javascript:void(0)" onclick="$.get('/app/Deviceapp/manageApplication',{action: 'quit'});">Quit App</a>&nbsp;&nbsp;
<a href="javascript:void(0)" onclick="$.get('/app/Deviceapp/manageApplication',{action: 'min'});">Minimize</a><br/></li>
      <li><a href="ImagerModule">ImagerModule</a></li>
      <li><a href="SignatureModule">SignatureModule</a></li>
      <li><a href="SignalModule">SignalModule</a></li>
      <li><a href="BatteryModule">BatteryModule</a></li>
      <li><a href="KeyCaptureModule">KeyCaptureModule</a></li>
      <li><a href="CardReaderModule">CardReaderModule</a></li>
      <li><a href="ScannerModule">ScannerModule</a></li>
      <li><a href="NetworkModule">NetworkModule</a></li>
      <li><a href="Filemanage">FileManagementModule</a></li>
      <li><a href="Gesture">GestureModule</a></li>
      <li><a href="Deviceapp">Device And Application Module</a></li>
      <li><a href="RSM">RSMModule</a></li>
      <li><a href="CandA">ControlandAppearance</a></li>
      <li><a href="EMMLProfileApps">EMML Profile</a></li>
      <li><a href="NotificationModule">Notification Module</a></li>
      <li><a href="PushModule">Push Module</a></li>
	    <li><a href="RawSensor">RawSensor</a></li>
      <li><a href="LightSensor">LightSensor</a></li>
      <li><a href="MemoryModule">Memory Module</a></li>	    
      <li><a href="ConfigurationModule">Registry</a></li>
      <li><a href="Lan">Wlan</a></li>
      <li><a href="AudioCapture">AudioCapture</a></li>
      <li><a href="VideocaptureTest">VideoCapture</a></li>
      <li><a href="Palyback">Playback</a></li>
      <li><a href="http://google.com">Google</a></li>
      <li><a href="http://192.168.6.18/Neon/Index.html">Neon</a></li>
      <li><a href="Log">Log</a></li>
    </ul>
  </div>

</div>
