<html>
<head>
<h1>RawSensor</h1>
<script type="text/javascript">

function funminimize(){
  $.get('/app/LightSensor/FunMinimize', {});
   return false;  
}

function callgetSensorData()
{
  alert("callgetSensorData");
  $.get('/app/LightSensor/callgetsensorData', { });
  return false;   
}

function registerSensorEvent() 
{
  alert("registersensorEvent");
  document.getElementById("myResult").innerHTML="";
  var selectsensorEvent=document.getElementById("selectsensorEvent").value;
  $.get('/app/LightSensor/registersensorEvent', { selectsensorEvent:  selectsensorEvent});
  return false;
}

function setSensorStatus()
{
  alert("setSensorstatus");
  var selectstatus=document.getElementById("selectstatus").value;
  $.get('/app/LightSensor/setSensorstatus', { selectstatus:  selectstatus});
   return false;  
}


function setminimumInterval()
{
   var txtminimumInterval=document.getElementById("txtminimumInterval").value;
   $.get('/app/LightSensor/setminimumInterval', { txtminimumInterval:  txtminimumInterval});
   return false;  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>
<body>
<p>LightSensorTest</p>
<br /><br />
<div id="myResult">Sensor info</div> 
<br /><br />
<form name="myfrm" action="">
<label for="selectsensorEvent">AttachEvent</label>
 <select name="selectsensorEvent" id="selectsensorEvent">
 <option value="JavaScript">JavaScript</option>
 <option value="DETACHEVENT">DETACHEVENT</option>
 <option value="EMPTYEVENT">EMPTYEVENT</option>
 </select>
<br />
<INPUT type="button" value="registersensorEvent" name="registersensorEvent" onclick="registerSensorEvent();" /> 
<hr/>
<INPUT type="button" value="getSensorData" name="getSensorData" onClick="callgetSensorData();"> 
<hr/>
<label for="selectstatus">SelectSensorStatus</label>
  <select name="selectstatus" id="selectstatus">
  <option value="enabled">enabled</option>
  <option value="disabled">disabled</option>
  <option value="TEST">INVALIDSTRING</option>
  <option value="">EMPTYSTRING</option>
  </select>  <br />
 <INPUT type="button" value="SetSensorStatus" name="SetSensorstatus" onClick="setSensorStatus();">  
<br/>

  <label for="txtminimumInterval" class="itemLabel">minimumInterval</label>
  <input type="text" id="txtminimumInterval" name="txtminimumInterval" class="itemValue"  />  
  <INPUT type="button" value="setminimumInterval" name="setMinimumInterval" onClick="setminimumInterval();">  
 <hr />
    <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
    <br/>
 
</form>
</body>
</html>
