<html>
<head>
   <title>Application Tests (Ruby)</title> 
</head>
<body>

  <div data-role="page">

    <div data-role="header" data-position="inline">
      <h1>Application Tests</h1>
      <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse" <%= "data-ajax='false'" if is_bb6 %>>
        Home
      </a> <br/>
      
      <!-- <a href="<%#= url_for :action => :new %>" class="ui-btn-right" data-icon="plus">
            New 
           </a> -->
           
    </div>

    <div data-role="content"> 
       <ul data-role="listview">
          <li id="Rho_Application_Minimize">
              <a href="javascript:void(0)" onclick="$.get('/app/ApplicationTest/applicationMinimize',{});">Minimize the Application (Mac RhoSimulator, WP8 not support it)</a><br/>
          </li>
          <li id="Rho_Application_Quit">
              <a href="javascript:void(0)" onclick="$.get('/app/ApplicationTest/applicationQuit',{});">Quit the Application</a><br/>
          </li><br>
          <li id="Rho_Application_Notify"> <!-- To test the Set App Notify functionality -->
              <a href="javascript:void(0)" onclick="$.get('/app/ApplicationTest/applicationNotifyMethod',{});">setApplicationNotify</a><br/>
              <br><span class="result"></span>
              <br><ul class="list"><li>Test</li></ul>
          </li>
       </ul>
    </div>
  
<!--   <div data-role="content">
     <ul data-role="listview">
       <%# @applicationtests.each do |applicationtest| %>
            <li>
              <a href="<%#= url_for :action => :show, :id => applicationtest.object %>">
                <%#= applicationtest.a %>
              </a>
            </li>
        
        <%# end %>
      </ul>
   </div> -->

  </div>

<script type="text/javascript" src="/public/jquery/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/jquery/jquery.json-2.3.min.js"></script>
<script type="text/javascript" src="/public/api/rhoapi-modules.js"></script>
<script type="text/javascript" src="/helpers/specHelpers.js"></script>

<script type="text/javascript">
 
      function applicationNotify(data)
      {
        $("#Rho_Application_Notify ul.list").append(data);
      }

</script>

</body>
</html>
